<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global/general.css">
    <link rel="stylesheet" href="../css/local/archive.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include("../includes/header.ejs") %>
        <main class="mainContainer">
            <div class="heading">Archives</div>
            <div class="tableActionOne">
                <input type="search" id="searchInput" placeholder="Search">
                <select id="documentType" name="documentType">
                    <option value="Panumduman">Panumduman</option>
                    <option value="IMG">IMG</option>
                </select>
            </div>
            <div class="tableContainer">
                <table>
                    <thead>
                        <tr>
                            <th>Contracting Parties</th>
                            <th>DATE</th>
                            <th>DOCTYPE</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                    <tbody id="archiveTableBody"></tbody>
                </table>
            </div>
            <nav aria-label="Page navigation" id="paginationNav">
                <a href="" aria-label="Previous Page">Previous</a>
                <a href="" aria-label="Next Page">Next</a>
            </nav>
            <button class="addingForTable" id="add-document-button" onclick="popUp_button(this)">
                ADD DOCUMENTS
            </button>
        </main>

        <!-- Pop Up -->
        <!-- Add Inbentory -->
        <div class="pop-up" id="add-document">
            <div class="close-container">
                <img src="../icon/close.svg" alt="" class="close_popUp">
            </div>
            <h1 class="heading">ADD DOCUMENT</h1>
            <main>
                <form action="/archive/dashboard/add-archive" method="POST" enctype="multipart/form-data">
                    <div class="add-inventory-input-container">
                        <div class="row">
                            <div class="inputWithLabel" id="masubad">
                                <label>Document Type</label>
                                <select name="docType" aria-label="Document Type" id="docType" required>
                                    <option value="Panumduman">Panumduman</option>
                                </select>
                            </div>
                            <div id="archiveInputContainer">
                                <div class="inputWithLabel" id="surubadan">
                                    <label>Contracting Parties 1</label>
                                    <input type="text" aria-label="Contracting Parties 1" name="parties1" required>
                                </div>
                                <div class="inputWithLabel" id="surubadan">
                                    <label>Contracting Parties 2</label>
                                    <input type="text" aria-label="Contracting Parties 2" name="parties2" required>
                                </div>
                                <div class="inputWithLabel">
                                    <label>Date</label>
                                    <input type="date" aria-label="Date" name="date" required>
                                </div>
                            </div>
                        </div>
                        <div class="ID-container">
                            <div class="image-preview" id="imagePreview">
                                <p>No image uploaded</p>
                            </div>
                            <div class="buttons">
                                <button type="button" class="button upload" onclick="triggerUpload()">Upload</button>
                                <input type="file" name="picture" id="fileInput" accept="image/*"
                                    onchange="displayImage(event)">
                            </div>
                        </div>
                    </div>
                    <button id="submit_add_document">SUBMIT</button>
                </form>
            </main>
        </div>

        <!-- Delete -->
        <div class="pop-up-confirm" id="delete-arch">
            <div>
                <div class="reject-heading">
                    <img src="../icon/warning.svg" alt="">
                    <h2>Deleting a Document will <br>
                        automatically delete from the list</h2>
                </div>
                <main>
                    <h2>Are sure you want to delete this Document?</h2>
                    <div>
                        <button type="button" id="cancel-delete" class="button-bordered close_popUp1">No</button>
                        <button type="button" id="confirm-delete" class="button-bordered">Yes</button>
                    </div>
                </main>
            </div>
        </div>

        <!-- Image -->
        <div class="pop-up" id="view-document">
            <div class="close-container">
                <img src="../icon/close.svg" alt="" class="close_popUp">
            </div>
            <h1 class="heading" id="docHeading">DOCUMENT</h1>
            <main>
                <div class="buttonContainerInArchibe">
                    <button>UPDATE</button>
                </div>
                <div id="imageContainer">
                    <img src="../images/wow.jpg" id="imageTo" alt="">
                </div>
            </main>
        </div>

        <% if (messages.success) { %>
            <div class="overlay"></div>
            <div class="alert alert-success" id="submit_prompt">
                <img src="../images/success-img.png" alt="">
                <div>
                    <h2>
                        <%= messages.success %>
                    </h2>
                    <main>
                        <button type="button" class="button-green" onclick="closePopup()">Ok</button>
                    </main>
                </div>
            </div>
            <% } %>
</body>
<script src="../../js/global/pop-up.js"></script>
<script src="../../js/local/archive/archive-api.js"></script>
<script>
    document.querySelector("header>nav>ul>li:nth-child(5)").classList.toggle("selected");
    // Function to trigger file input click
    function triggerUpload() {
        document.getElementById("fileInput").click();
    }

    // Function to display the selected image
    function displayImage(event) {
        const file = event.target.files[0];
        const preview = document.getElementById("imagePreview");

        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                preview.innerHTML = `<img src="${e.target.result}" alt="Uploaded Image">`;
            };
            reader.readAsDataURL(file);
        } else {
            preview.innerHTML = `<p>No image uploaded</p>`;
        }
    }
</script>

</html>