<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global/general.css">
    <link rel="stylesheet" href="../css/local/archive.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include("../includes/header.ejs") %>
        <main class="mainContainer">
            <div class="heading">Archives</div>
            <div class="tableActionOne">
                <input type="search" id="searchInput" placeholder="Search">
                <select id="documentType" name="documentType">
                    <option value="Lupon">Lupon</option>
                    <option value="Ordinance">Ordinance</option>
                    <option value="Panumduman">Panumduman</option>
                    <option value="Regularization Minutes">Regularization Minutes</option>
                    <option value="Resolution">Resolution</option>
                </select>
            </div>
            <div class="tableContainer">
                <table>
                    <thead>
                        <tr>
                            <!-- Lupon -->
                            <th class="luponTableHead" style="display: none;">Lupon Case Number</th>
                            <th class="luponTableHead" style="display: none;">Complainant</th>
                            <th class="luponTableHead" style="display: none;">Respondent</th>
                            <th class="luponTableHead" style="display: none;">Date Filed</th>
                            <th class="luponTableHead" style="display: none;">Type Of Case</th>
                            <th class="luponTableHead" style="display: none;">Status</th>

                            <!-- Ordinance -->
                            <th class="ordinanceTableHead" style="display: none;">Ordinance Number</th>
                            <th class="ordinanceTableHead" style="display: none;">Ordinance Title</th>
                            <th class="ordinanceTableHead" style="display: none;">Author</th>
                            <th class="ordinanceTableHead" style="display: none;">Co-Author</th>
                            <th class="ordinanceTableHead" style="display: none;">Sponsor</th>
                            <th class="ordinanceTableHead" style="display: none;">Date Approved</th>
                            
                            <!-- Contracting Parties -->
                            <th class="panumdumanTableHead" style="display: none;">ContractingParties</th>
                            <th class="panumdumanTableHead" style="display: none;">Date</th>
                            
                            <!-- Regularization Minutes -->
                            <th class="regularizationTableHead" style="display: none;">Regularization Number</th>
                            <th class="regularizationTableHead" style="display: none;">Date</th>
                            
                            <!-- Resolution -->
                            <th class="resolutionTableHead" style="display: none;">Resolution Number</th>
                            <th class="resolutionTableHead" style="display: none;">Series Of Year</th>
                            <th class="resolutionTableHead" style="display: none;">Date</th>

                            <th style="display: none;">Doctype</th>
                            <th style="display: none;">Action</th>
                        </tr>
                    </thead>
                    <tbody id="archiveTableBody"></tbody>
                </table>
            </div>
            <nav aria-label="Page navigation" id="paginationNav">
                <!-- <a href="" aria-label="Previous Page">Previous</a>
                <a href="" aria-label="Next Page">Next</a> -->
            </nav>
            <button class="addingForTable" id="add-document-button" onclick="popUp_button(this)">
                ADD DOCUMENTS
            </button>
        </main>

        <!-- Pop Up -->
        <!-- Add Inbentory -->
        <div class="pop-up" id="add-document">
            <div class="close-container">
                <img src="../icon/close.svg" alt="" class="close_popUp">
            </div>
            <h1 class="heading">ADD DOCUMENT</h1>
            <main>
                <form action="/archive/dashboard/add-archive" method="POST" enctype="multipart/form-data">
                    <input type="number" id="itemId" name="itemId" hidden>
                    <div class="add-inventory-input-container">
                        <input type="hidden" name="docType" id="docType" value="">
                        <div class="row">
                            <div id="archiveInputContainer">
                                <div class="inputWithLabel" id="surubadan">
                                    <label>Lupon Case Number</label>
                                    <input id="luponCaseNumber" type="text" aria-label="Lupon Case Number" name="luponCaseNumber" required>
                                </div>
                                <div class="inputWithLabel" id="surubadan">
                                    <label>Complainant</label>
                                    <input id="complainant" type="text" aria-label="Complainant" name="complainant" placeholder="Search for a resident" required>
                                    <div id="results"></div>
                                </div>
                                <div class="inputWithLabel" id="surubadan">
                                    <label>Respondent</label>
                                    <input id="respondent" type="text" aria-label="Respondent" name="respondent" required>
                                </div>
                                <div class="inputWithLabel">
                                    <label>Date Filed</label>
                                    <input id="dateFiled" type="date" aria-label="Date Filed" name="dateFiled" required>
                                </div>
                                <div class="inputWithLabel">
                                    <label>Type Of Case</label>
                                    <input id="caseType" type="text" aria-label="Date Filed" name="caseType" required>
                                </div>
                                <div class="inputWithLabel">
                                    <label for="">Case Stage</label>
                                    <select class="caseStage-dropdown" name="caseStage" id="caseStage">
                                        <option value=" default" disabled selected>
                                        Select a Status
                                        </option>
                                        <option value="Settled">Settled</option>
                                        <option value="Resolve">Resolve</option>
                                        <option value="Dismissed">Dismissed</option>
                                        <option value="Withdrawn">Withdrawn</option>
                                        <option value="Deferred">Deferred</option>
                                        <option value="Pending">Pending</option>
                                        <option value="Under Investigation">Under Investigation</option>
                                        <option value="For Hearing">For Hearing</option>
                                        <option value="For Finality">For Finality</option>
                                        <option value="Pending Resolution">Pending Resolution</option>
                                    </select>
                                    </div>
                            </div>
                        </div>
                        <div class="ID-container">
                            <div class="image-preview" id="imagePreview">
                                <p>No image uploaded</p>
                            </div>
                            <div class="buttons">
                                <button type="button" class="button upload" onclick="triggerUpload()">Upload</button>
                                <input type="file" name="image" id="fileInput" accept="image/*"
                                    onchange="displayImage(event)">
                            </div>
                        </div>
                    </div>
                    <button id="submit_add_document" style="margin-bottom: 20px;">SUBMIT</button>
                </form>
            </main>
        </div>

        <!-- Delete -->
        <div class="pop-up-confirm" id="delete-arch">
            <div>
                <div class="reject-heading">
                    <img src="../icon/warning.svg" alt="">
                    <h2>Deleting a Document will <br>
                        automatically delete from the list</h2>
                </div>
                <main>
                    <h2>Are sure you want to delete this Document?</h2>
                    <div>
                        <button type="button" id="cancel-delete" class="button-bordered close_popUp1">No</button>
                        <button type="button" id="confirm-delete" class="button-bordered">Yes</button>
                    </div>
                </main>
            </div>
        </div>

        <!-- Image -->
        <div class="pop-up" id="view-document">
            <div class="close-container">
                <img src="../icon/close.svg" alt="" class="close_popUp">
            </div>
            <h1 class="heading" id="docHeading">DOCUMENT</h1>
            <main>
                <div id="imageContainer">
                    <img src="../images/wow.jpg" id="imageTo" alt="">
                </div>
            </main>
        </div>

        <% if (messages.success) { %>
            <div class="overlay"></div>
            <div class="alert alert-success" id="submit_prompt">
                <img src="../images/success-img.png" alt="">
                <div>
                    <h2>
                        <%= messages.success %>
                    </h2>
                    <main>
                        <button type="button" class="button-green" onclick="closePopup()">Ok</button>
                    </main>
                </div>
            </div>
            <% } %>
</body>
<script src="../../js/global/pop-up.js"></script>
<script src="../../js/local/archive/archive-api.js"></script>
<script src="../../js/local/archive/helper-functions.js"></script>
<script>
    document.querySelector("header>nav>ul>li:nth-child(5)").classList.toggle("selected");
    // Function to trigger file input click
    function triggerUpload() {
        document.getElementById("fileInput").click();
    }

    // Function to display the selected image
    function displayImage(event) {
        const file = event.target.files[0];
        const preview = document.getElementById("imagePreview");
        console.log(file);
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                preview.innerHTML = `<img src="${e.target.result}" alt="Uploaded Image">`;
            };
            reader.readAsDataURL(file);
        } else {
            preview.innerHTML = `<p>No image uploaded</p>`;
        }
    }
</script>

</html>