<div class="A4 with-logo-bg" id="brgyClearance">
    <%- include("../includes/print-header.ejs") %>
        <div class="title"><img src="../images/brgy-clearance.png" alt=""></div>
        <div class="lalagyan">
            <div class="lefttt">
                <div class="sanguni">
                    <p><strong>SANGGUNIANG <br> BARANGAY</strong></p>
                </div>
                <div class="m" style="text-align: center;">
                    <strong>
                        <p>HON. IAN C. GONZALES</p>
                    </strong>
                    <p><em>Punong Barangay</em></p>
                </div>
                <div class="m" style="text-align: center;">
                    <p>KAGAWAD:</p>
                    <div class="ngarans" style="text-align: center;">
                        <strong>
                            <p>HON. CARMELA O. CABEL</p>
                        </strong>
                        <strong>
                            <p>HON. MANUEL R. BAGAINDOC</p>
                        </strong>
                        <strong>
                            <p>HON. RAUL E. ALAMBRA</p>
                        </strong>
                        <strong>
                            <p>HON. BENITO A. APELADO</p>
                        </strong>
                        <strong>
                            <p>HON. AIMEE GRACE C. AGDA</p>
                        </strong>
                        <strong>
                            <p>HON.  DAMIANO C. BALDOS</p>
                        </strong>
                        <strong>
                            <p>HON. EDNAR C. PADRO</p>
                        </strong>
                    </div>
                </div>
                <div class="m" style="text-align: center;">
                    <strong>
                        <p>HON. DEXTER G. AQUINO</p>
                    </strong>
                    <p><em>SK Chairperson</em></p>
                </div>
                <div class="m" style="text-align: center;">
                    <strong>
                        <p>MR. DOMINIQUE C. CARAGA</p>
                    </strong>
                    <p><em>Barangay Secretary</em></p>
                </div>
                <div class="m" style="text-align: center;">
                    <strong>
                        <p>MS. ARIANE C. AGDA</p>
                    </strong>
                    <p><em>Barangay Treasurer</em></p>
                </div>
            </div>
            <div class="right">
                <div class="context">
                    <p class="wala"><strong>TO WHOM THIS MAY CONCERN:</strong></p>
                    <p style="font-size: 12px; margin-bottom: 20px !important;"><span class="tang">THIS IS TO
                            CERTIFY</span> that the person whose name, picture and signature appear below has requested
                        a <span class="tang">RECORD CLEARANCE</span> from this office and the result(s) to wit:</p>
                    <div class="g-row">
                        <p>Last Name:</p>
                        <p id="brgyClearanceLastName">ACAYAN</p>
                        <p>First Name:</p>
                        <p id="brgyClearanceFirstName">ACAYAN</p>
                        <p>Middle Name:</p>
                        <p id="brgyClearanceMiddleName">ACAYAN</p>
                        <p>Address:</p>
                        <p id="brgyClearanceAddress"> Purok Pechay, Brgy. Maypangdan, Borongan City, Eastern Samar</p>
                        <p>Age:</p>
                        <p id="brgyClearanceAge">100</p>
                        <p>Birthdate:</p>
                        <p id="brgyClearanceBirthDate">January 1, 1987</p>
                        <p>Civil Status:</p>
                        <p id="brgyClearanceCivilStatus">Single</p>
                        <p>Purpose:</p>
                        <p id="brgyClearancePurpose">Please Fill The Required Form.</p>
                        <p>Remarks:</p>
                        <p style="font-weight: bold;" id="brgyClearanceRemarks">Please Fill The Required Form.</p>
                        <p>Opt ID:</p>
                        <p id="brgyClearanceOptID">Please Fill The Required Form.</p>
                        <p>CTC Nos.</p>
                        <p id="brgyClearanceCTCNos">Please Fill The Required Form.</p>
                        <p>Place Issued:</p>
                        <p>Maypangdan</p>
                        <p>Date Issued:</p>
                        <p id="brgyClearanceDateIssued">Please Fill The Required Form.</p>
                        <p>OR Nos:</p>
                        <p id="brgyClearanceORNos">Please Fill The Required Form.</p>
                        <p>Date Printed:</p>
                        <p id="brgyClearanceDatePrinted">Please Fill The Required Form.</p>
                    </div>
                    <div class="row align-item-center" style="margin-top: 3em; justify-content: space-around;">
                        <div class="signature">
                            <div class="bx"></div>
                            <div style="margin-top: 1em; text-align: center;">
                                <div style="border: solid black 1px; "></div>
                                SIGNATURE
                            </div>
                        </div>
                        <div style="display: flex; justify-content: end;">
                            <div>
                                <p>Approved by:</p>
                                <div style="text-align: center;">
                                    <p><strong id="punongBarangay">HON. IAN C. GONZALES</strong></p>
                                    <em>Punong Barangay</em>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>