<div class="A4 with-logo-bg" id="indigency" style="display: block;">
    <%- include("../includes/print-header.ejs") %>
    <div class="title"><img src="../images/brgy-clearance.png" alt=""></div>
</div>

<style>
    .title img {
        margin-top: 26px;
        width: 70%;
    }

</style>