<div class="A4 with-logo-bg" id="indigency" style="display: block;">
    <%- include("../includes/print-header.ejs") %>
    <div  class="title"><h2>BUILDING CLEARANCE</h2></div>
    <!-- background logo -->
    <img class="bg-logo" src="../images/certificate-background-logo.png" alt="">
    <!-- mahusay na logo footer -->
    <img class="mahusay-logo" src="../images/mahusay-na.png" alt="">
    <div class="context">
        <p class="wala"><strong>TO WHOM IT MAY CONCERN:</strong></p>
        <p><strong>THIS IS TO CERTIFY THAT</strong> that <strong><u>FULL NAME</u></strong>, single, of legal age is a Filipino citizen, a resident of Purok Name, ESSU Compound, Barangay Maypangdan, Borongan City, Province of Eastern Samar has been satisfactorily completed the requirements for the application of Electric Connection.</p>
        <p>Further, this certifies that the barangay, interposing, no objection regarding the application for the Electric Connection located at Brangay Maypangdan, Borongan City.</p>
        <p>However, this certification is subject for rebiew to all existing laws and regulation on the City Zoning Complience Application.</p>
        <p>This certification is issued upon request of the herein interested party for whateber legal purpose it may serbe.</p>
        <p>Given this <u>30th</u> day of <strong><u>SEPTEMBER, 2024</u></strong> at Brgy. Maypangdan Borongan City, Eastern Samar</p>
    </div>
    <div style="display: flex; justify-content: end; margin-right: 71px; margin-top: 150px;">
        <div class="certified">
            <p>Approved by:</p>
            <div style="text-align: center;">
                <p><strong>HON. IAN C. GONZALES</strong></p>
                <em>Punong Barangay</em>
            </div>
        </div>
    </div>
    <div class="seal">
        <p>O.R Nos.: 2940586</p>
        <p>Not valid without official dry seal</p>
    </div>
    <%- include("../includes/print-footer.ejs") %>
</div>