<div class="A4 with-logo-bg" id="buildingClearance">
    <%- include("../includes/print-header.ejs") %>
    <div class="cert-header"><img class="linya" src="../images/header-line.png" alt=""></div>

        <div class="title">
            <h2>BUILDING CLEARANCE</h2>
        </div>
        <!-- background logo -->
        <img class="bg-logo" src="../images/certificate-background-logo.png" alt="">
        <!-- mahusay na logo footer -->
        <img class="mahusay-logo" src="../images/mahusay-na.png" alt="">
        <div class="context">
            <p class="wala"><strong>TO WHOM IT MAY CONCERN:</strong></p>
            <p><strong>THIS IS TO CERTIFY THAT</strong> that <strong><u id="buildingClearanceFullName">(FULL NAME)</u></strong>, <span id="buildingClearanceStatus">(STATUS)</span>, of legal age is
                a Filipino citizen, a resident of <span id="buildingClearanceAddress">(ADDRESS)</span> has been satisfactorily completed the requirements for the application of
                <span id="buildingClearancePurpose">(PLEASE SELECT A PURPOSE)</span>.</p>
            <p>Further, this certifies that the barangay, interposing, no objection regarding the application for the
                <span id="buildingClearancePurpose1">(PLEASE SELECT A PURPOSE)</span> located at <span id="buildingClearanceLocation">(LOCATION)</span>.</p>
            <p>However, this certification is subject for review to all existing laws and regulation on the City Zoning
                Complience Application.</p>
            <p>This certification is issued upon request of the herein interested party for whatever legal purpose it
                may serve.</p>
            <p>Given this <strong><u id="dateDay"></u></strong> day of <strong><u id="dateMonth"></u></strong>, <strong><u id="dateYear"></u></strong> at Brgy. Maypangdan Borongan City,
                Eastern Samar</p>
        </div>
        <div style="display: flex; justify-content: end; margin-right: 71px; margin-top: 150px;">
            <div class="certified">
                <p>Approved by:</p>
                <div style="text-align: center;">
                    <p><strong>HON. IAN C. GONZALES</strong></p>
                    <em>Punong Barangay</em>
                </div>
            </div>
        </div>
        <div class="seal">
            <p>O.R Nos.: <span id="buildingClearanceORNos"></span></p>
            <p>Not valid without official dry seal</p>
        </div>
        <%- include("../includes/print-footer.ejs") %>
</div>