<div class="A4 with-logo-bg" id="burailClearance">
    <%- include("../includes/print-header.ejs") %>
    <div class="cert-header"><img class="linya" src="../images/header-line.png" alt=""></div>

        <div class="title">
            <h2>BURIAL CLEARANCE</h2>
        </div>
        <!-- background logo -->
        <img class="bg-logo" src="../images/certificate-background-logo.png" alt="">
        <!-- mahusay na logo footer -->
        <img class="mahusay-logo" src="../images/mahusay-na.png" alt="">
        <div class="context">
            <p class="wala"><strong>TO WHOM IT MAY CONCERN:</strong></p>
            <p><strong>THIS IS TO CERTIFY</strong> that <strong><u>RAPADA, ELIAS AGNO.,</u></strong> female/<u>male</u>,
                <u>single</u>/married/widow/widower, a resident of Purok Ampalaya, Barangay Maypangdan, Borongan City,
                Province of Eastern Samar, had a wake of nine (9) days at his residence from September 14 to September
                22, 1994.</p>
            <p>Mr. Rapada was laid to rest at Maypangda Cemetery on September 22, 1994.</p>
            <p>This certification is issued upon the request of the family for whatever legal purpose it may serve.</p>
            <p>Given this <strong><u>10th</u></strong> day of <strong>OCTOBER</strong>  20<strong><u>24</u></strong>, at
                Barangay Maypangdan, Borongan City, Eastern Samar.</p>
        </div>
        <div style="display: flex; justify-content: end; margin-right: 71px; margin-top: 200px;">
            <div class="certified">
                <p>Certified by:</p>
                <div style="text-align: center;">
                    <p><strong>HON. IAN C. GONZALES</strong></p>
                    <em>Punong Barangay</em>
                </div>
            </div>
        </div>
        <div class="seal">
            <p>O.R Nos.: 3013808</p>
            <p>Valid for 90 days from the date of issued</p>
            <p>Not valid without seal</p>
        </div>
        <%- include("../includes/print-footer.ejs") %>
</div>