<div class="A4 with-logo-bg" id="indigency" style="display: block;">
    <%- include("../includes/print-header.ejs") %>
    <div  class="title"><h2>BUSINESS CLEARANCE</h2></div>
    <!-- background logo -->
    <img class="bg-logo" src="../images/certificate-background-logo.png" alt="">
    <!-- mahusay na logo footer -->
    <img class="mahusay-logo" src="../images/mahusay-na.png" alt="">
    <div class="context">
        <p class="wala"><strong>TO WHOM IT MAY CONCERN:</strong></p>
        <p><strong>THIS IS TO CERTIFY</strong> that the business or trade activity describe below:</p>
        <div class="namesss">
            <div>
                <h3><u>JACKOWLAN</u></h3>
                <p>(Business Name or Trade Actibity)</p>
            </div>
            <div>
                <h3><u>BRGY. MAYPANGDAN, BORONGAN CITY</u></h3>
                <p>(Location of Business)</p>
            </div>
            <div>
                <h3><u>ADRIANE S. GARCIA</u></h3>
                <p>(Operator/Manager)</p>
            </div>
        </div>
        <div class="bullets">
            <p>Being applied for NEW/RENEW of the corresponding Mayor’s Permit has been found to be:</p>
            <ul>
                <li>Complying with the probision of the existing Barangay Ordinance, rules and regulations being</li>
                <li>Partially complying with the probision of the existing Barangay Ordinances, rules and regulations being enforced in this Barangay</li>
                <li>Interposes no objection for the issuance of the corresponding Mayor’s permit being applied for.</li>
                <li>The Requirements under existing Brangay Ordinance, rules and regulations on the matter should be totally complied with, otherwise this Barangay would take the necessary actions, within legal bounds, to stop it’s continued operation. </li>
            </ul>
        </div>
    </div>
    <div style="display: flex; justify-content: end; margin-right: 71px;">
        <div class="certified">
            <p>Approved by:</p>
            <div style="text-align: center;">
                <p><strong>HON. IAN C. GONZALES</strong></p>
                <em>Punong Barangay</em>
            </div>
        </div>
    </div>
    <div class="seal">
        <p>O.R Nos.: 2940586</p>
        <p>Not valid without official dry seal</p>
    </div>
    <%- include("../includes/print-footer.ejs") %>
</div>

<style>
    .context p {
        text-indent: 0px;
    }

    .namesss div{
        text-align: center;
        line-height: 0px;
        margin-bottom: 50px;
    }

    .namesss div p {
        font-size: 11px;
    }

    .bullets {
        font-size: 16px;
    }

    li{
        text-align: justify;
        margin-bottom: 8px;
    }
</style>