<div class="A4 with-logo-bg" id="indigency" style="display: block;">
    <%- include("../includes/print-header.ejs") %>
    <div  class="title"><h2>CERTIFICATION</h2></div>
    <!-- background logo -->
    <img class="bg-logo" src="../images/certificate-background-logo.png" alt="">
    <!-- mahusay na logo footer -->
    <img class="mahusay-logo" src="../images/mahusay-na.png" alt="">
    <div class="context">
        <p class="wala"><strong>TO WHOM IT MAY CONCERN:</strong></p>
        <p><strong>THIS IS TO CERTIFY</strong> that <strong><u>PAPA KEN INTERNET CAFÉ</u></strong>, located at Purok Talbos, Barangay Maypangdan, Borongan City which owned  and managed by <strong>MR. KENNETH C. TABAY</strong>, a resident of Brgy. Maypangdan, Borongan City, Eastern Samar has been closed and not operational since January 2017 until today.</p>
        <p>This certification is issued upon request of the herein interested party for <strong style="color: red;">BUSINESS CLOSURE REQUIREMENT</strong> and for any legal intent it may serve it best.</p>
        <p>Given this <strong><u>7th</u></strong> day of <strong>December</strong> 20<strong><u>23</u></strong>, at Barangay Maypangdan, Borongan City, Eastern Samar.</p>
    </div>
    <div style="display: flex; justify-content: end; margin-right: 71px; margin-top: 250px;">
        <div class="certified">
            <p>Certified by:</p>
            <div style="text-align: center;">
                <p><strong>HON. IAN C. GONZALES</strong></p>
                <em>Punong Barangay</em>
            </div>
        </div>
    </div>
    <div class="seal">
        <p>O.R Nos.: 9433019</p>
        <p>Not valid without seal</p>
    </div>
    <%- include("../includes/print-footer.ejs") %>
</div>