<div class="A4 with-logo-bg" id="businessClosure">
    <%- include("../includes/print-header.ejs") %>
    <div class="cert-header"><img class="linya" src="../images/header-line.png" alt=""></div>

        <div class="title">
            <h2>C E R T I F I C A T I O N</h2>
        </div>
        <!-- background logo -->
        <img class="bg-logo" src="../images/certificate-background-logo.png" alt="">
        <!-- mahusay na logo footer -->
        <img class="mahusay-logo" src="../images/mahusay-na.png" alt="">
        <div class="context">
            <p style="text-indent: 0px !important;"><strong>TO WHOM IT MAY CONCERN:</strong></p>
            <p><strong>THIS IS TO CERTIFY</strong> that <strong><u id="businessClosureBusinessName">(BUSINESS NAME)</u></strong>, located at <span id="businessClosureBusinessLocation">(BUSINESS LOCATION)</span> which owned  and managed by <strong id="businessClosureOwnersName">(OWNER'S NAME)</strong>, a resident of <span id="businessClosureOwnersAddress">(OWNER'S ADDRESS)</span> has been closed and not
                operational since <span id="businessClosureClosedSince">(CLOSED SINCE)</span> until <span id="businessClosureClosedUntil">(CLOSED UNTIL)</span>.</p>
            <p id="businessClossureCertificationDetails"></p>
            <p>This certification is issued upon request of the herein interested party for <strong
                    style="color: red;" id="businessClosurePurpose">(PLEASE SELECT A PURPOSE)</strong> only.</p>
            <p>Given this <strong><u id="dateDay"></u></strong> day of <strong id="dateMonth"></strong> <strong><u id="dateYear"></u></strong>, at
                Barangay Maypangdan, Borongan City, Eastern Samar.</p>
        </div>
        <div style="display: flex; justify-content: end; margin-right: 71px; margin-top: 100px;">
            <div class="certified">
                <p class="punongBarangayLabel">Certified by:</p>
                <div class="footerLineHeight" style="text-align: center;">
                    <p><strong class="punongBarangay">HON. IAN C. GONZALES</strong></p>
                    <em>Punong Barangay</em>
                </div>
            </div>
        </div>
        <div class="seal" style="margin-top: 100px;">
            <p>O.R Nos.: <span id="businessClosureORNos"></span></p>
            <p>Not valid without seal</p>
        </div>
        <%- include("../includes/print-footer.ejs") %>
</div>