<div class="A4 with-logo-bg" id="residency">
    <%- include("../includes/print-header.ejs") %>
    <div class="title"><img src="../images/cer-residency.png" alt=""></div>
    <div class="lalagyan">
        <div class="lefttt">
            <div class="sanguni"><p><strong>SANGGUNIANG <br> BARANGAY</strong></p></div>
            <div class="m" style="text-align: center;">
                <strong><p>HON. IAN C. GONZALES</p></strong>
                <p><em>Punong Barangay</em></p>
            </div>
            <div class="m" style="text-align: center;">
                <p>KAGAWAD:</p>
                <div class="ngarans" style="text-align: center;">
                    <strong><p>HON. CARMELA O. CABEL</p></strong>
                    <strong><p>HON. MANUEL R. BAGAINDOC</p></strong>
                    <strong><p>HON. RAUL E. ALAMBRA</p></strong>
                    <strong><p>HON. BENITO A. APELADO</p></strong>
                    <strong><p>HON. AIMEE GRACE C. AGDA</p></strong>
                    <strong><p>HON.  DAMIANO C. BALDOS</p></strong>
                    <strong><p>HON. EDNAR C. PADRO</p></strong>
                </div>
            </div>
            <div class="m" style="text-align: center;">
                <strong><p>HON. DEXTER G. AQUINO</p></strong>
                <p><em>SK Chairperson</em></p>
            </div>
            <div class="m" style="text-align: center;">
                <strong><p>MR. DOMINIQUE C. CARAGA</p></strong>
                <p><em>Barangay Secretary</em></p>
            </div>
            <div class="m" style="text-align: center;">
                <strong><p>MS. ARIANE C. AGDA</p></strong>
                <p><em>Barangay Treasurer</em></p>
            </div>
        </div>
        <div class="right">
            <div class="context">
                <p class="wala"><strong>TO WHOM THIS MAY CONCERN:</strong></p>
                <p><strong>THIS IS TO CERTIFY THAT <span id="residencyFullName" style="color: #00A6D4;">FULL NAME</span></strong> is a resident of :</p>
                <div class="g-row-2" style="margin-top: 100px;">
                    <p>Street</p>    <p>:</p>   <p id="residencyStreet">STREET</p>
                    <p>Purok</p>     <p>:</p>   <p id="residencyPurok">PUROK</p>
                    <p>Barangay</p>  <p>:</p>   <p id="residencyBarangay">BARANGAY</p>
                    <p>City</p>      <p>:</p>   <p id="residencyMunicipality">MUNICIPALITY</p>
                    <p>Province</p>  <p>:</p>   <p id="residencyProvince">PROVINCE</p>
                </div>
                <div style="margin-top: 64px;">
                    <p>Since <strong><u id="residencySince">RESIDENT SINCE</u></strong> until <strong><u id="residencyUntil">RESIDENT UNTIL</u></strong>.</p>
                    <p>This certification is issued upon the request of the herein interested party for whatever purposes and legal intent it may serve.</p>
                    <p>Issued this <strong><u id="dateDay"></u></strong>  day of <strong><u id="dateMonth"></u></strong> <strong><u id="dateYear"></u></strong>.</p>
                </div>
                <div class="row align-item-center" style="margin-top: 3em; justify-content: space-around;">
                    <div style="display: flex; justify-content: end;">
                        <div>
                            <p>Approved by:</p>
                            <div style="text-align: center;">
                                <p><strong class="punongBarangay">HON. IAN C. GONZALES</strong></p>
                                <em>Punong Barangay</em>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>