
<div class="A4 with-logo-bg" id="goodMoral" style="display: block; border: solid black;">
    <div class="lalagyan">
        <style>
            .good-head h6{
                text-align: center;
                font-weight: 400;
                font-size: 16px;
            }
        </style>
        <div style="width: 27%; display: flex; justify-content: center; align-items: center;"><img src="../images/logo1.png" alt="" width="160" height="160"></div>
        <div style=" width: 65%; text-align: center;" class="good-head">
            <h6>
                Republic of the Philippines <br> Province of Eastern Samar <br> City of Borongan <br> Barangay Maypangdan <br> 
            </h6>
            <h2><strong>OFFICE OF THE PUNONG BARANGAY</strong></h2>
            <h2><strong>GOOD MORAL CERTIFICATE</strong></h2>
        </div>
    </div>
    <div class="lalagyan">
        <div class="lefttt-g">
            <div class="sanguni"><p><strong>SANGGUNIANG <br> BARANGAY</strong></p></div>
            <div class="m" style="text-align: center;">
                <strong><p>HON. IAN C. GONZALES</p></strong>
                <p><em>Punong Barangay</em></p>
            </div>
            <div class="m" style="text-align: center;">
                <p>KAGAWAD:</p>
                <div class="ngarans" style="text-align: center;">
                    <strong><p id="kagawad1">HON. CARMELA O. CABEL</p></strong>
                    <strong><p id="kagawad2">HON. MANUEL R. BAGAINDOC</p></strong>
                    <strong><p id="kagawad3">HON. RAUL E. ALAMBRA</p></strong>
                    <strong><p id="kagawad4">HON. BENITO A. APELADO</p></strong>
                    <strong><p id="kagawad5">HON. AIMEE GRACE C. AGDA</p></strong>
                    <strong><p id="kagawad6">HON.  DAMIANO C. BALDOS</p></strong>
                    <strong><p id="kagawad7">HON. EDNAR C. PADRO</p></strong>
                </div>
            </div>
            <div class="m" style="text-align: center;">
                <strong><p id="skChairPerson">HON. DEXTER G. AQUINO</p></strong>
                <p><em>SK Chairperson</em></p>
            </div>
            <div class="m" style="text-align: center;">
                <strong><p id="brgySecretary">MR. DOMINIQUE C. CARAGA</p></strong>
                <p><em>Barangay Secretary</em></p>
            </div>
            <div class="m" style="text-align: center;">
                <strong><p id="brgyTreasurer">MS. ARIANE C. AGDA</p></strong>
                <p><em>Barangay Treasurer</em></p>
            </div>
        </div>
        <div class="right">
            <div class="context">
                <p class="wala"><strong>TO WHOM THIS MAY CONCERN:</strong></p>
                <div>
                    <p><strong>THIS IS TO CERTIFY</strong> that <strong><u id="goodMoralFullName">(FULL NAME)</u></strong>, <span id="goodMoralAge">(AGE)</span> years of age, <span id="goodMoralGender">(GENDER)</span>, <span id="goodMoralStatus">(STATUS)</span>, a resident of <span id="goodMoralAddress">(ADDRESS)</span> is personally known to me to be a person of good moral character and a law-abiding citizen in this community.</p>
                    <p id="goodMoralIfASelectedPurpose" style="display: none;">As per records available in the files of this office, said subject has never been convicted nor accused of any crime whatsoever nor <span id="goodMoralGender1">(GENDER)</span>, a member of any subversive organization</p>
                    <p>This certification is issued upon request of the herein-interested party for <span id="goodMoralPurpose">(PLEASE SELECT A PURPOSE)</span> this may serve best.</p>
                    <p>Given this <strong><u id="dateDay"></u></strong> day of <strong><u id="dateMonth"></u></strong>, <strong><u id="dateYear"></u></strong> at Barangay Maypangdan, Borongan City, Eastern Samar.</p>
                </div>
                <div class="row align-item-center" style="margin-top: 4em; justify-content: space-around;">
                    <div style="display: flex; justify-content: end;">
                        <div>
                            <p>Approved by:</p>
                            <div style="text-align: center;">
                                <p><strong class="punongBarangay">HON. IAN C. GONZALES</strong></p>
                                <em>Punong Barangay</em>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>