<header>
  <div class="LogoSection">
    <img src="../images/logo1.png" alt="">
    <h1>Republic of the Philippines <br> Province of Eastern Samar <br> City of Borongan <br> BARANGAY MAYPANGDAN</h1>
    <img src="../images/logo2.png" alt="">
  </div>
  <nav>
    <ul>
      <li onclick="window.location.href='/home/dashboard'">Home</li>
      <li onclick="window.location.href='/services/dashboard'">Services</li>
      <li onclick="window.location.href='/residents/dashboard'">Residents</li>
      <li onclick="window.location.href='/inventory/dashboard'">Inventory</li>
      <li onclick="window.location.href='/archive/dashboard'">Archive</li>
      <li onclick="window.location.href='/statistics/dashboard'">Statistics</li>
    </ul>
  </nav>
</header>