<header>
  <div class="LogoSection">
    <img src="../images/logo1.png" alt="">
    <h1>Republic of the Philippines <br> Province of Eastern Samar <br> City of Borongan <br> BARANGAY MAYPANGDAN</h1>
    <img src="../images/logo2.png" alt="">
  </div>
  <nav>
    <ul>
      <li class="selected">Home</li>
      <li>Services</li>
      <li>Residents</li>
      <li>Inventory</li>
      <li>Archive</li>
      <li>Statistics</li>
    </ul>
  </nav>
</header>