<div class="A4 with-logo-bg" id="indigency">
    <%- include("../includes/print-header.ejs") %>
        <div class="title">
            <h2>CERTIFICATE OF INDIGENCY</h2>
        </div>
        <!-- background logo -->
        <img class="bg-logo" src="../images/certificate-background-logo.png" alt="">
        <!-- mahusay na logo footer -->
        <img class="mahusay-logo" src="../images/mahusay-na.png" alt="">
        <div class="context">
            <p class="wala"><strong>TO WHOM IT MAY CONCERN:</strong></p>
            <p> <strong>THIS IS TO CERTIFY</strong> that <strong> <u id="indigencyFullName">Full Name</u></strong> <span
                    id="indigencyGender">female/male</span>,
                <span id="indigencyCivilStatus">single/married/widow/widower</span>, a resident of <span
                    id="indigencyAddress">Purok Ampalaya,
                    Barangay Maypangdan, Borongan City, Province
                    of Eastern Samar</span>, belongs to the indigent family of this community.
            </p>
            <p>This certification is issued upon request of the herein interested party for <strong
                    id="indigencyPurpose" style="color: red;">
                    PLEASE SELECT AND APPLY THE CHANGES</strong> and for any legal intent it may serve it best.</p>
            <p>This certification is issued upon request of the herein interested party for whatever and for any legal
                intent it may serve it best.</p>
            <p>Given this <strong><u id="dateDay"></u></strong> day of <strong><u id="dateMonth"></u>,</strong>
                <strong><u id="dateYear"></u></strong>,
                at Barangay Maypangdan, Borongan City, Eastern Samar.
            </p>
        </div>
        <div style="display: flex; justify-content: end; margin-right: 71px;">
            <div class="certified">
                <p>Certified by:</p>
                <div style="text-align: center;">
                    <p><strong id="punongBarangay">HON. IAN C. GONZALES</strong></p>
                    <em>Punong Barangay</em>
                </div>
            </div>
        </div>
        <div class="seal">
            <p>Valid for 90 days from the date of issued.</p>
            <p>Not valid without seal.</p>
        </div>
        <%- include("../includes/print-footer.ejs") %>
</div>