<div class="A4 with-logo-bg" id="indigency">
    <%- include("../includes/print-header.ejs") %>
    <div  class="title"><h2>CERTIFICATE OF INDIFENCY</h2></div>
    <!-- background logo -->
    <img class="bg-logo" src="../images/certificate-background-logo.png" alt="">
    <!-- mahusay na logo footer -->
    <img class="mahusay-logo" src="../images/mahusay-na.png" alt="">
    <div class="context">
        <p class="wala"><strong>TO WHOM IT MAY CONCERN:</strong></p>
        <p> <strong>THIS IS TO CERTIFY</strong> that <strong> <u>RAPADA, LEONARD A.,</u></strong> female/male, single/married/widow/widower, a resident of Purok Ampalaya, Barangay Maypangdan, Borongan City, Province of Eastern Samar, belongs to the indigent family of this community.</p>
        <p>This certification is issued upon request of the herein interested party for <strong style="color: red;"> MEDICAL ASSISTANCE</strong> and for any legal intent it may serve it best.</p>
        <p>This certification is issued upon request of the herein interested party for whatever and for any legal intent it may serve it best.</p>
        <p>Given this <strong><u>9th</u></strong> day of <strong><u>JULY</u></strong> 20<strong><u>24</u></strong>, at Barangay Maypangdan, Borongan City, Eastern Samar.</p>
    </div>
    <div style="display: flex; justify-content: end; margin-right: 71px;">
        <div class="certified">
            <p>Certified by:</p>
            <div style="text-align: center;">
                <p><strong>HON. IAN C. GONZALES</strong></p>
                <em>Punong Barangay</em>
            </div>
        </div>
    </div>
    <div class="seal">
        <p>Valid for 90 days from the date of issued.</p>
        <p>Not valid without seal.</p>
    </div>
    <%- include("../includes/print-footer.ejs") %>
</div>