<div class="A4 with-logo-bg" id="indigency" style="display: block;">
    <%- include("../includes/print-header.ejs") %>
    <div  class="title"><img src="../images/brgy-birth-cert.png" alt=""></div>
    <!-- background logo -->
    <img class="bg-logo" src="../images/certificate-background-logo.png" alt="">
    <!-- mahusay na logo footer -->
    <img class="mahusay-logo" src="../images/mahusay-na.png" alt="">
    <div class="context">
        <p class="wala"><strong>TO WHOM IT MAY CONCERN:</strong></p>
        <p>THIS IS TO CERTIFY that CRIS CALVIN JUNDARINO TRENCIO, male and a resident of Barangay Maypangdan, Borongan City, Eastern Samar, Cris Calvin was to Mr. Renante C. Trencio and Ms. Rizalyn M. Jundarino, was born on the 28th of October, 2023 at Eastern Samar Provincial Hospital with the aid of a doctor Leah Golda M. Domingo, MD.</p>
        <p>Certify further that Akesha Marie A. Cabo was not yet registered in the Local Civil Registrar in the City of Borongan and bear NEGATIVE RESULT in the Philippine Statistics Office.</p>
        <p>This certification was issued upon request of herein interested party for LCR LATE REGISTRATION PURPOSES.</p>
        <p>Issued this 19th day of December, 2023 at Barangay Maypangdan, Borongan City, Eastern Samar.</p>
    </div>
    <div style="display: flex; justify-content: end; margin-right: 71px; margin-top: 250px;">
        <div class="certified">
            <div style="text-align: center;">
                <p><strong>HON. IAN C. GONZALES</strong></p>
                <em>Punong Barangay</em>
            </div>
        </div>
    </div>
    <div class="seal">
        <p>O.R. # 89433041</p>
        <p>Not valid without official dry seal.</p>
        <p>Valid for six (6) months from the date issued.</p>
    </div>
    <%- include("../includes/print-footer.ejs") %>
</div>

<style>
    .title img {
        position: relative;
        margin-top: 32px;
        z-index: 4;
        width: 70%;
    }
</style>