<div class="A4 with-logo-bg" id="lateRegistration">
    <%- include("../includes/print-header.ejs") %>
    <div class="cert-header"><img class="linya" src="../images/header-line.png" alt=""></div>

        <div class="title"><img src="../images/brgy-birth-cert.png" alt=""></div>
        <!-- background logo -->
        <img class="bg-logo" src="../images/certificate-background-logo.png" alt="">
        <!-- mahusay na logo footer -->
        <img class="mahusay-logo" src="../images/mahusay-na.png" alt="">
        <div class="context">
            <p class="wala"><strong>TO WHOM IT MAY CONCERN:</strong></p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong><i>THIS IS TO CERTIFY</i></strong> that <strong id="lateRegistrationFullName">(FULL NAME)</strong>, <span id="lateRegistrationGender">(GENDER)</span> and a resident of Barangay <span id="lateRegistrationAddress">(ADDRESS)</span>, <span id="lateRegistrationFirstName">(FIRST NAME)</span> was to Mr. <i id="lateRegistrationFather">(FATHERS NAME)</i> and Ms. <i id="lateRegistrationMother">(MOTHERS NAME)</i>,
                was born on <span id="lateRegistrationBirthDate">(BIRTHDATE)</span> at <span id="lateRegistrationBirthPlace">(BIRTHPLACE)</span> with the aid of a <span id="lateRegistrationPagAnak">(TYPE OF BIRTH ASSISTANCE)</span> <span id="lateRegistrationNameNagAnak"></span>.</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Certify further that <strong id="lateRegistrationFullName1">(FULL NAME)</strong> was not yet registered in the Local Civil Registrar in the City
                of Borongan and bear NEGATIVE RESULT in the Philippine Statistics Office.</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This certification was issued upon request of herein interested party for LCR LATE REGISTRATION PURPOSES.
            </p>
            <p>Issued this <strong><u id="dateDay"></u></strong> day of <strong><u id="dateMonth"></u></strong>, <strong><u id="dateYear"></u></strong> at Barangay Maypangdan, Borongan City, Eastern Samar.</p>
        </div>
        <div style="display: flex; justify-content: end; margin-right: 71px; margin-top: 180px;">
            <div class="certified">
                <div style="text-align: center;">
                    <p><strong class="punongBarangay">HON. IAN C. GONZALES</strong></p>
                    <em>Punong Barangay</em>
                </div>
            </div>
        </div>
        <div class="seal">
            <p>O.R. # <span id="lateRegistrationORNumber"></span></p>
            <p>Not valid without official dry seal.</p>
            <p>Valid for <span id="lateRegistrationValiddation">(VALIDATION)</span> from the date issued.</p>
        </div>
        <%- include("../includes/print-footer.ejs") %>
</div>

<style>
    .title img {
        position: relative;
        margin-top: 32px;
        z-index: 4;
        width: 70%;
    }
</style>