<div class="A4 with-logo-bg" id="waterDistrict">
    <div><%- include("../includes/print-header.ejs") %></div>
    <div class="cert-header"><img class="linya" src="../images/header-line.png" alt=""></div>

    <div class="title">
        <h2>CERTIFICATION</h2>
    </div>
    <!-- background logo -->
    <img class="bg-logo" src="../images/certificate-background-logo.png" alt="">
    <!-- mahusay na logo footer -->
    <img class="mahusay-logo" src="../images/mahusay-na.png" alt="">
    <div class="context">
        <p class="wala" style="text-indent: 0px !important; margin-bottom: 16px !important;"><strong>TO WHOM IT MAY CONCERN:</strong></p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This is to certify that <strong><u>BORONGAN WATER DISTRICT</u></strong> is granted permission to excavate the barangay highway for purpose of installing a water connection for <strong><u id="waterDistrictFullName">(RECIPIENT NAME)</u></strong> residing at <strong><u id="waterDistrictAddress">(ADDRESS)</u></strong>. The excavation and subsequent restoration will be carried out in accordance with all relevant regulations and standards to ensure the safety and minimal disruption to public use.</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This certification is issued upon request of the <strong>BORONGAN WATER DISTRICT</strong> for <strong style="color: red;" id="waterDistrictPurpose">(PURPOSE)</strong> and for any legal intent it may serve it best.</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Given this <u><strong id="dateDay"></strong></u> day of <u><strong id="dateMonth"></strong></u>, <u><strong id="dateYear"></strong></u>, at Barangay Maypangdan, Borongan City, Eastern Samar.</p>
        <p></p>
    </div>
    <div style="display: flex; justify-content: end; margin-right: 71px; margin-top: 200px;">
        <div class="certified">
            <p>Certified by:</p>
            <div style="text-align: center;">
                <p><strong class="punongBarangay">HON. IAN C. GONZALES</strong></p>
                <em>Punong Barangay</em>
            </div>
        </div>
    </div>
    <div class="seal">
        <p>O.R Nos.: <span id="waterDistrictORNos"></span></p>
        <p>Not valid without seal.</p>
    </div>
    <div><%- include("../includes/print-footer.ejs") %></div>
</div>