<div class="A4 with-logo-bg" id="commonLaw">
    <div><%- include("../includes/print-header.ejs") %></div>
    <div class="cert-header"><img class="linya" src="../images/header-line.png" alt=""></div>

    <div class="title">
        <h2>C E R T I F I C A T I O N</h2>
    </div>
    <!-- background logo -->
    <img class="bg-logo" src="../images/certificate-background-logo.png" alt="">
    <!-- mahusay na logo footer -->
    <img class="mahusay-logo" src="../images/mahusay-na.png" alt="">
    <div class="context">
        <p class="wala" style="text-indent: 0px !important; margin-bottom: 16px !important;"><strong>TO WHOM IT MAY CONCERN:</strong></p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i><strong>THIS IS TO CERTIFY</strong></i> that based on the records and information provided to this office, <strong id="commonLawFullName">(FULLNAME)</strong> and <strong id="commonLawPartnerName">(PARTNER's NAME)</strong>, both residents of <span id="commonLawAddress">(ADDRESS TOGETHER)</span> have been living together as husband and wife under a common-law relationship for a period of <span id="commonLawYearsTogether">(YEARS LIVING TOGETHER)</span> <span id="commonLawYears"></span>.</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;They are known to the undersigned and the barangay officials as law-abiding and peaceful members of this community.</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This certification is issued upon request of the herein interested party for <strong style="color: red;" id="commonLawPurpose">(PURPOSE)</strong>.</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Given this <strong><u id="dateDay"></u></strong> day of <strong><u id="dateMonth"></u></strong>, <strong><u id="dateYear"></u></strong>, at Barangay Maypangdan, Borongan City, Eastern Samar.</p>
    </div>
    <div style="display: flex; justify-content: end; margin-right: 71px; margin-top: 200px;">
        <div class="certified">
            <p>Certified by:</p>
            <div style="text-align: center;">
                <p><strong class="punongBarangay">HON. IAN C. GONZALES</strong></p>
                <em>Punong Barangay</em>
            </div>
        </div>
    </div>
    <div class="seal">
        <p>O.R. # <span id="commonLawORNos"></span></p>
        <p>Not valid without seal.</p>
    </div>
    <div><%- include("../includes/print-footer.ejs") %></div>
</div>