<div class="A4 with-logo-bg" id="employment">
    <div><%- include("../includes/print-header.ejs") %></div>
    <div class="cert-header"><img class="linya" src="../images/header-line.png" alt=""></div>

    <div class="title">
        <h2 class="certificationHeading">CERTIFICATION</h2>
    </div>
    <!-- background logo -->
    <img class="bg-logo" src="../images/certificate-background-logo.png" alt="">
    <!-- mahusay na logo footer -->
    <img class="mahusay-logo" src="../images/mahusay-na.png" alt="">
    <div class="context">
        <p style="text-indent: 0px !important;"><strong>TO WHOM IT MAY CONCERN:</strong></p>
        <p><strong><i>THIS IS TO CERTIFY</i></strong> that <strong><u id="employmentFullName">(FULLNAME)</u></strong>, <span id="employmentGender">(GENDER)</span>, <span id="employmentStatus">(STATUS)</span>, a resident of <span id="employmentAddress">(ADDRESS)</span>, is currently employed as a <span id="employmentJobTitle">(JOB TITLE)</span> at <span id="employmentWorkplace">(WORKPLACE)</span> located at <span id="employmentWorkLocation">(WORK LOCATION)</span>.</p>
        <p>This certification is issued upon request of the herein interested party for <strong style="color: red;" id="employmentPurpose">(PURPOSE)</strong> only.</p>
        <p>Given this <strong><u id="dateDay"></u></strong> day of <strong><u id="dateMonth"></u></strong>,  <strong><u id="dateYear"></u></strong>, at Barangay Maypangdan, Borongan City, Eastern Samar.</p>
    </div>
    <div style="display: flex; justify-content: end; margin-right: 71px; margin-top: 350px;">
        <div class="certified">
            <p class="punongBarangayLabel">Certified by:</p>
            <div class="footerLineHeight" style="text-align: center;">
                <p><strong class="punongBarangay">HON. IAN C. GONZALES</strong></p>
                <em>Punong Barangay</em>
            </div>
        </div>
    </div>
    <div class="seal" style="margin-top: 100px;">
        <p>Valid for 90 days from the date of issued.</p>
        <p>Not valid without seal.</p>
    </div>
    <div><%- include("../includes/print-footer.ejs") %></div>
</div>