<div class="A4 with-logo-bg" id="death">
    <div class="lalagyan" style="display: flex; justify-content: end;">
        <style>
            .good-head h6 {
                text-align: center;
                font-weight: 400;
                font-size: 16px;
            }
        </style>
        <div style="width: 28%; display: grid; place-items: center;">
            <img src="../../images/logo3.png" alt="" width="150">
        </div>
        <div style=" width: 72%; text-align: center;" class="good-head">
            <h6>
                Republic of the Philippines <br> Province of Eastern Samar <br> City of Borongan <br> Barangay
                Maypangdan <br>
            </h6>
            <img src="../../images/punong-haha.png" alt="" width="500">
        </div>
    </div>
    <div class="lalagyan">
        <div class="lefttt-d" >
            <div>
                <p><strong>SANGGUNIANG <br> BARANGAY</strong></p>
            </div>
            <div class="m" style="text-align: center;">
                <strong>
                    <p class="punongBarangay">HON. IAN C. GONZALES</p>
                </strong>
                <p><em>Punong Barangay</em></p>
            </div>
            <div class="m" style="text-align: center;">
                <p>KAGAWAD:</p>
                <div class="ngarans" style="text-align: center;">
                    <p>
                        <p id="kagawad1">HON. CARMELA O. CABEL</p>
                    </p>
                    <p>
                        <p id="kagawad2">HON. MANUEL R. BAGAINDOC</p>
                    </p>
                    <p>
                        <p id="kagawad3">HON. RAUL E. ALAMBRA</p>
                    </p>
                    <p>
                        <p id="kagawad4">HON. BENITO A. APELADO</p>
                    </p>
                    <p>
                        <p id="kagawad5">HON. AIMEE GRACE C. AGDA</p>
                    </p>
                    <p>
                        <p id="kagawad6">HON.  DAMIANO C. BALDOS</p>
                    </p>
                    <p>
                        <p id="kagawad7">HON. EDNAR C. PADRO</p>
                    </p>
                </div>
            </div>
            <div class="m" style="text-align: center;">
                <strong>
                    <p id="skChairPerson">HON. DEXTER G. AQUINO</p>
                </strong>
                <p><em>SK Chairperson</em></p>
            </div>
            <div class="m" style="text-align: center;">
                <strong>
                    <p id="brgySecretary">MR. DOMINIQUE C. CARAGA</p>
                </strong>
                <p><em>Barangay Secretary</em></p>
            </div>
            <div class="m" style="text-align: center;">
                <strong>
                    <p id="brgyTreasurer">MS. ARIANE C. AGDA</p>
                </strong>
                <p><em>Barangay Treasurer</em></p>
            </div>
            <div style="font-size: 14px; line-height: 10px; text-align: start; margin-top: 3em; position: absolute; bottom: 10%; color: black;">
                <p>O.R. #:  <span id="singlenessORNumber">(OR NUMBER)</span></p>
                <p>Issued at : Maypangdan-LGU</p>
                <p> Not valid without dry seal</p>
                <p></p>
            </div>

        </div>
        <div class="right">
            <div class="context">
                <div style="text-align: center; margin-bottom: 3em;">
                    <h2>BARANGAY DEATH CERTIFICATE</h2>
                </div>
                <p class="wala"><em>TO WHOM THIS MAY CONCERN:</em></p>
                <div>
                    <p><strong>THIS IS TO CERTIFY</strong> that the late <strong><u>LAPADA, JULIA A.,</u></strong> who was born on September 10, 1930, died on March 21, 2014 around 3:30 in the afternoon at Brgy. Maypangdan, , Borongan City. She was <strong>83</strong>  years old at the time of her death. </p>
                    <p>Certifies further that <strong>JULIA A. LAPADA</strong> was buried at Maypangdan Public Cemetery on March 30, 2014.</p>
                    <p>This certification is issued upon request of the herein-interested party for whatever legal purpose this may serve best.</p>
                    <p>Given this <strong><u>6th</u></strong> day of <strong><u>DECEMBER</u></strong>, 20<strong><u>24</u></strong> at Barangay Maypangdan, Borongan City, Eastern Samar.</p>
                </div>
                <div class="row align-item-center" style="margin-top: 9em; justify-content: end;">
                    <div style="display: flex; justify-content: end;">
                        <div>
                            <p>Approved by:</p>
                            <div style="text-align: center;">
                                <p><strong class="punongBarangay">HON. IAN C. GONZALES</strong></p>
                                <em>Punong Barangay</em>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("../includes/print-footer.ejs") %>
        <img class="mahusay-logo" src="../images/mahusay-na.png" alt="">
</div>