<div class="A4 with-logo-bg" id="death">
    <div class="lalagyan" style="display: flex; justify-content: end;">
        <style>
            .good-head h6 {
                text-align: center;
                font-weight: 400;
                font-size: 16px;
            }
        </style>
        <div style="width: 28%; display: grid; place-items: center;">
            <img src="../../images/logo3.png" alt="" width="150">
        </div>
        <div style=" width: 72%; text-align: center;" class="good-head">
            <h6>
                Republic of the Philippines <br> Province of Eastern Samar <br> City of Borongan <br> Barangay
                Maypangdan <br>
            </h6>
            <img src="../../images/punong-haha.png" alt="" width="500">
        </div>
    </div>
    <div class="lalagyan">
        <div class="lefttt-d" style="width: 30%;">
            <div>
                <p><strong>SANGGUNIANG <br> BARANGAY</strong></p>
            </div>
            <div class="m" style="text-align: center;">
                <strong>
                    <p class="punongBarangay">HON. IAN C. GONZALES</p>
                </strong>
                <p><em>Punong Barangay</em></p>
            </div>
            <div class="m" style="text-align: center;">
                <p>KAGAWAD:</p>
                <div class="ngarans" style="text-align: center;">
                    <p>
                        <p class="kagawad1">HON. CARMELA O. CABEL</p>
                    </p>
                    <p>
                        <p class="kagawad2">HON. MANUEL R. BAGAINDOC</p>
                    </p>
                    <p>
                        <p class="kagawad3">HON. RAUL E. ALAMBRA</p>
                    </p>
                    <p>
                        <p class="kagawad4">HON. BENITO A. APELADO</p>
                    </p>
                    <p>
                        <p class="kagawad5">HON. AIMEE GRACE C. AGDA</p>
                    </p>
                    <p>
                        <p class="kagawad6">HON.  DAMIANO C. BALDOS</p>
                    </p>
                    <p>
                        <p class="kagawad7">HON. EDNAR C. PADRO</p>
                    </p>
                </div>
            </div>
            <div class="m" style="text-align: center;">
                <strong>
                    <p class="SKChairPerson">HON. DEXTER G. AQUINO</p>
                </strong>
                <p><em>SK Chairperson</em></p>
            </div>
            <div class="m" style="text-align: center;">
                <strong>
                    <p class="brgySecretary">MR. DOMINIQUE C. CARAGA</p>
                </strong>
                <p><em>Barangay Secretary</em></p>
            </div>
            <div class="m" style="text-align: center;">
                <strong>
                    <p class="brgyTreasurer">MS. ARIANE C. AGDA</p>
                </strong>
                <p><em>Barangay Treasurer</em></p>
            </div>
            <div style="font-size: 14px; line-height: 15px; text-align: start; margin-top: 3em; position: absolute; bottom: 10%; color: black;">
                <p>O.R. #:  <span id="deathORNumber"></span></p>
                <p>Issued at : Maypangdan-LGU</p>
                <p> Not valid without dry seal</p>
                <p></p>
            </div>

        </div>
        <div class="right">
            <div class="context">
                <div style="text-align: center; margin-bottom: 3em;">
                    <h2>BARANGAY DEATH CERTIFICATE</h2>
                </div>
                <p class="wala" style="text-indent: 0px !important; margin-bottom: 16px;"><em>TO WHOM THIS MAY CONCERN:</em></p>
                <div>
                    <p><strong>THIS IS TO CERTIFY</strong> that the late <strong><u id="deathNameofDeceased">(NAME OF DECEASED)</u></strong>, who was born on <span id="deathDateOfBirth">(DATE OF BIRTH)</span>, died on <span id="deathDateOfDeath">(DATE OF DEATH)</span> <span id="deathTimeOfDeath"></span> at <span id="deathPlaceOfDeath">(PLACE OF DEATH)</span>. <span id="deathGender">(GENDER)</span> was <strong id="deathAge">(AGE)</strong>  years old at the time of <span id="deathGender1">(GENDER)</span> death. </p>
                    <p>Certifies further that <strong id="deathNameOfDeceased1">(NAME OF DECEASED)</strong> was buried at <span id="deathPlaceOfBurial">(PLACE OF BURIAL)</span> on <span id="deathDateOfBurial">(DATE OF BURIAL)</span>.</p>
                    <p>This certification is issued upon request of the herein-interested party for whatever legal purpose this may serve best.</p>
                    <p>Given this <strong><u id="dateDay"></u></strong> day of <strong><u id="dateMonth"></u></strong>, <strong><u id="dateYear"></u></strong> at Barangay Maypangdan, Borongan City, Eastern Samar.</p>
                </div>
                <div class="row align-item-center" style="margin-top: 9em; justify-content: end;">
                    <div style="display: flex; justify-content: end;">
                        <div>
                            <p class="punongBarangayLabel" style="margin-bottom: 10px;">Approved by:</p>
                            <div class="footerLineHeight" style="text-align: center;">
                                <p style="margin: 0;"><strong class="punongBarangay">HON. IAN C. GONZALES</strong></p>
                                <em class="adjustEm">Punong Barangay</em>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("../includes/print-footer.ejs") %>
        <img class="mahusay-logo" src="../images/mahusay-na.png" alt="">
</div>