<div class="A4 with-logo-bg" id="oathUndertaking">
    <div><%- include("../includes/print-header.ejs") %></div>
    <div class="cert-header"><img class="linya" src="../images/header-line.png" alt=""></div>

    <div class="title" style="margin-bottom: 8px;">
        <h2 style="margin: 0;">OATH OF UNDERTAKING</h2>
    </div>
    <!-- background logo -->
    <img class="bg-logo" src="../images/certificate-background-logo.png" alt="">
    <!-- mahusay na logo footer -->
    <img class="mahusay-logo" src="../images/mahusay-na.png" alt="">
    <style>
        .oath {
            padding: 8px;
        }

        .context-oath {
            position: relative;
            z-index: 2;
        }
    </style>
    <div class="context-oath" style="margin-top: 0;">
        <p class="wala">I, <strong><u id="oathFullName">FULL NAME</u></strong>, <span id="oathGender">GENDER</span>,
            <span id="oathAge">AGE</span> years of age, resident of Brgy. <span id="oathAddress">ADDRESS</span>,
            availing the benefits of Republic Act 11261, otherwise known as the First Time Jobseekers Act of 2019, do
            hereby declare, agree and undertake to abide and be bound by the following:</p>
        <div style="display: flex; flex-direction:column; margin: 0; padding: 0;">
            <p class="oath">&nbsp;&nbsp;1.  That this is the first time that I will actively look for a job, and therefore requesting that a Barangay Certification be issued in my favor to avail the benefits of the law;</p>
            <p class="oath">&nbsp;&nbsp;2.  That I am aware that the benefit and privilege/s under the said law shall be valid only for one (1) year from the date that the Barangay Certification is issued;</p>
            <p class="oath">&nbsp;&nbsp;3.  That I can avail the benefits of the law only once;</p>
            <p class="oath">&nbsp;&nbsp;4.  That I understand that my personal information shall be included in the Roster/List of First Time Jobseeker and will not be used for any unlawful purpose;</p>
            <p class="oath">&nbsp;&nbsp;5.  That I will inform and/or report to the Barangay personally, through text or other means, or through my family/relatives once I get employed; and</p>
            <p class="oath">&nbsp;&nbsp;6.  That I am not a beneficiary of the Job Start Program under R.A 10869 and other laws that give similar exemptions for the documents or transactions exempted under R.A No. 11261</p>
            <p class="oath">&nbsp;&nbsp;7.  That if issued the request Certification, I will not use the same fraud, neither falsify nor help and/or assist in the fabrication of the said certification;</p>
            <p class="oath">&nbsp;&nbsp;8.  That this undertaking is made solely for the purpose of obtaining a Barangay Certification consist with the objective of R.A 11261 and not for any other purpose.</p>
            <p class="oath">&nbsp;&nbsp;9.  That I consent the use of my personal information pursuant to the Data Privacy Act and other applicable laws, rules, and regulations.</p>
        </div>
        <p class="oath">Signed this <strong><u id="dateDay"></u></strong> day of <strong><u
                    id="dateMonth"></u></strong>, <strong><u id="dateYear"></u></strong>, in the City of Borongan,
            Province of Eastern Samar, Brgy. Maypangdan.</p>
    </div>
    <div style="display: flex; justify-content: end; margin-right: 71px;">
        <div style="text-align: center; position: relative; z-index: 2;">
            <p><strong><u id="oathFullName1">FULL NAME</u></strong></p>
            <em>First Time Jobseeker</em>
        </div>
    </div>
    <div
        style="position: relative; z-index: 2; display: flex; flex-direction: column; align-items: start; margin-left: 71px;">
        <p>Witnessed by:</p>
        <div style="text-align: center;">
            <p><strong class="punongBarangay"><u>HON. IAN C. GONZALES</u></strong></p>
            <em>Punong Barangay</em>
        </div>
    </div>
    <div><%- include("../includes/print-footer.ejs") %></div>
</div>


<style>
    .hahahaha p {
        margin: 0;
        margin-top: 20px;
    }

    .wala {
        text-indent: 0 !important;
        margin-bottom: 0px !important;
    }


    .hahahaha {
        margin-bottom: 0;
    }
</style>