<div class="A4" id="panumduman">
    <%- include("../includes/print-header.ejs") %>
    <div class="cert-header"><img class="linya" src="../images/header-line.png" alt=""></div>
<div>
        <!-- background logo -->
        <img class="bg-logo" src="../images/certificate-background-logo.png" alt="">
        <!-- mahusay na logo footer -->
        <img style="position: absolute;
        opacity: 0.5;
        z-index: 2;
        height: 50px;
        bottom: 7%;
        right: 10%;" src="../images/fun_philippines.png" alt="">
        <strong class="date" id="panumdumanDate">(DATE)</strong>
        <div class="title" style="color: black !important; letter-spacing: 5px;">
            <h1>PANUMDUMAN</h2>
        </div>
        <div class="context">
            <p class="wala" style="text-indent: 0px !important; margin-bottom: 16px !important;"><strong>TO WHOM IT MAY CONCERN:</strong></p>
            <p>Hi kami, <strong id="panumdumanComplainant">(COMPLAINANT)</strong>, hataas iton  pangidaron ngan residente han <span id="panumdumanComplainantAddress">(COMPLAINANT ADDRESS)</span> ngan <strong id="panumdumanRespondent">(RESPONDENT)</strong>, hataas iton pangidaron ngan residente
                liwat han <span id="panumdumanRespondentAddress">(RESPONDENT ADDRESS)</span> in nagka may-ada kasabutan nga:</p>
            <div id="panumdumanAgreements">
            </div>
            <p>Ha pagkamatuod, kami in nagpirmahay ha opisina han Punong Barangay ni <strong><em class="punongBarangay">Hon. Ian C.
                        Gonzales</em></strong> niyan han <strong><em id="panumdumanDate1">(DATE)</em></strong> ha Brgy. Maypangdan
                Multi-purpose Hall, Borongan City, Eastern Samar.</p>
        </div>
        <div class="row" style="margin-top: 70px; justify-content: space-evenly;">
            <div class="colum">
                <strong><u id="panumdumanComplainant1">(COMPLAINANT)</u></strong>
                <em>Complainant</em>
            </div>
            <div class="colum">
                <strong><u id="panumdumanRespondent1">(RESPONDENT)</u></strong>
                <em>Respondent</em>
            </div>
        </div>
        <div class="row">
            <div class="colum">
                <p class="m">Witness:</p>
                <strong><u id="panumdumanWitness">(WITNESS)</u></strong>
                <em id="panumdumanWitnessPosition">(Position or Title)</em>
            </div>
            <div class="colum">
                <p class="m">Attested by:</p>
                <strong><u id="panumdumanAttested">(ATTESTED BY)</u></strong>
                <em id="panumdumanAttestedPosition">(Position or Title)</em>
            </div>
        </div>
    </div>
    <%- include("../includes/print-footer.ejs") %>

</div>


<style>
    .date {
        display: flex;
        justify-content: end;
        margin-right: 3.5em;
        margin-top: 1em;
    }

    .title {
        color: black;
    }

    .row {
        position: relative;
        z-index: 2;
        justify-content: space-around;
    }

    .m {
        margin-top: 4em;
        margin-bottom: 2em;
        text-align: start;
    }

    .colum {
        text-align: center;
    }
</style>