<div class="cert-header">
    <div class="certificate-logo">
        <img src="../images/logo1.png" alt="">
        <h6>
            Republic of the Philippines <br> Province of Eastern Samar <br> City of Borongan <br> Barangay Maypangdan <br> <strong>OFFICE OF THE PUNONG BARANGAY</strong>
        </h6>
        <img src="../images/logo4.png" alt="">
    </div>
</div> 