<div class="A4" id="RA11261">
    <%- include("../includes/print-header.ejs") %>
        <div class="cert-header"><img class="linya" src="../images/header-line.png" alt=""></div>

        <!-- background logo -->
        <img class="bg-logo" src="../images/certificate-background-logo.png" alt="">
        <!-- mahusay na logo footer -->
        <img class="mahusay-logo" src="../images/mahusay-na.png" alt="">
        <div class="title">
            <h2 class="certificationHeading">CERTIFICATION</h2>
        </div>
        <div class="context">
            <p class="wala" style="text-indent: 0px !important; margin-bottom: 16px !important;"><strong>TO WHOM IT MAY CONCERN:</strong></p>
            <p><strong>THIS IS TO CERTIFY</strong> that <strong><u id="RAFullName">(FULL NAME)</u></strong>, <span
                    id="RAGender">(Gender)</span>, <span id="RACivilStatus">(Civil Status)</span>, resident of <span
                    id="RAAddress">(Address)</span> is a fresh graduate of Eastern Samar State University and is applying
                for the RA 11261
                – Waiving of government fees and charges in the issuance of documents required in the application for
                employment of first-time jobseeker.</p>
            <p>This certification is issued upon request of the herein interested party for <strong style="color: red;"
                    id="RAPurpose">(PLEASE SELECT A PURPOSE)</strong> only.</p>
            <p>Given this <strong><u id="dateDay">day</u></strong> day of <strong><u id="dateMonth">MONTH</u></strong>
                <strong><u id="dateYear">Year</u></strong>, at Barangay Maypangdan, Borongan City, Eastern Samar.
            </p>
        </div>
        <div class="haha" style="display: flex; justify-content: end; margin-right: 71px; margin-top: 0;">
            <div class="certified">
                <p class="punongBarangayLabel">Certified by:</p>
                <div class="footerLineHeight" style="text-align: center;">
                    <p><strong class="punongBarangay">HON. IAN C. GONZALES</strong></p>
                    <em>Punong Barangay</em>
                </div>
            </div>
        </div>
        <div class="seal" style="margin-top: 100px;">
            <!-- <p>O.R Nos. 2915036</p> -->
            <p>Not valid without seal.</p>
        </div>
        <%- include("../includes/print-footer.ejs") %>
</div>

<style>
    .haha {
        margin-top: 200px;
    }
</style>