
<div class="A4 with-logo-bg visible" id="RA-11262">
    <%- include("../includes/print-header.ejs") %>
    <div class="cert-header"><img class="linya" src="../images/header-line.png" alt=""></div>
    <img class="bg-logo" src="../images/certificate-background-logo.png" alt="">
    <div class="lalagyan" style="margin-top: 1em; position: relative; z-index: 2;">
        <div class="lefttt-RA-1162" style="width: 180px; font-size: .9rem;">
            <div><p style="font-size: 1.05rem;"><strong><span style="letter-spacing: 5px;">SANNGUNIANG </span><br> BARANGAY COUNCIL</strong></p></div>
            <div class="m" style="text-align: center;">
                <strong><p>HON. IAN C. GONZALES</p></strong>
                <p><em>Punong Barangay</em></p>
            </div>
            <div class="m" style="text-align: center;">
                <div><p style="font-size: 1.01rem;"><strong><span style="letter-spacing: 5px;">SANNGUNIANG </span><br> BARANGAY MEMBERS</strong></p></div>
                <div class="ngarans" style="text-align: center; font-size: .75rem;">
                    <strong><p>HON. CARMELA O. CABEL</p></strong>
                    <strong><p>HON. MANUEL R. BAGAINDOC</p></strong>
                    <strong><p>HON. RAUL E. ALAMBRA</p></strong>
                    <strong><p>HON. BENITO A. APELADO</p></strong>
                    <strong><p>HON. AIMEE GRACE C. AGDA</p></strong>
                    <strong><p>HON.  DAMIANO C. BALDOS</p></strong>
                    <strong><p>HON. EDNAR C. PADRO</p></strong>
                </div>
            </div>
            <div class="m" style="text-align: center; text-wrap: nowrap; font-size: .75rem;">
                <strong><p>HON. DEXTER G. AQUINO</p></strong>
                <p><em>SK Chairperson</em></p>
            </div>
            <div class="m" style="text-align: center; text-wrap: nowrap; font-size: .75rem;">
                <strong><p>MR. DOMINIQUE C. CARAGA</p></strong>
                <p><em>Barangay Secretary</em></p>
            </div>
            <div class="m" style="text-align: center; font-size: .75rem;">
                <strong><p>MS. ARIANE C. AGDA</p></strong>
                <p><em>Barangay Treasurer</em></p>
            </div>
            <!-- <div style="font-size: 14px; line-height: 10px; text-align: start; margin-top: 3em;">
                <p>O.R. #:  2915015</p>
                <p>Amount Paid P 100.00</p>
                <p>Issued at : Maypangdan-LGU</p>
                <p>Valid for 60 days from the date of issue.</p>
                <p> Not valid without dry seal</p>
                <p></p>
            </div> -->

        </div>
        <div class="right">
            <div class="context">
                <div style="text-align: center;"><h2 style="margin: 0;">BARANGAY RESIDENCY</h2></div>
                <p class="wala"><strong>TO WHOM THIS MAY CONCERN:</strong></p>
                <p class="wala"><strong>THIS IS TO CERTIFY</strong> that <strong>ALMINE, JAN ADRIAN D.,</strong> is a bonafide resident of:</p>
                <div style="display: flex; flex-direction: column; gap: 68px">
                    <div class="g-row-2">
                        <p>Street</p>           <p>:</p>   <p>Asuncion</p>
                        <p>Purok</p>            <p>:</p>   <p>Seguidila</p>
                        <p>Barangay</p>         <p>:</p>   <p>Maypangdan</p>
                        <p>City</p>             <p>:</p>   <p>Borongan</p>
                        <p>Province</p>         <p>:</p>   <p>Eastern Samar</p>
                        <p>Since</p>            <p>:</p>   <p>2015 to present</p>
                        <p>Years living</p>     <p>:</p>   <p>9</p>
                        <p>Purpose</p>          <p>:</p>   <p>LTO Application Requirements</p>
                    </div>
    
                    <div class="g-row-2">
                        <p>OPT ID</p>    <p>:</p>   <p>Asuncion</p>
                        <p>CTC number</p>     <p>:</p>   <p>Seguidila</p>
                        <p>CTC issued</p>  <p>:</p>   <p>Maypangdan</p>
                        <p>CTC date</p>      <p>:</p>   <p>Borongan</p>
                        <p>O.R number</p>  <p>:</p>   <p>Eastern Samar</p>
                        <p>Date printed</p>  <p>:</p>   <p>Eastern Samar</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-item-center" style="margin-top: 4em; justify-content: space-around; position: relative; z-index: 2;">
        <div style="display: flex; justify-content: end;">
            <div>
                <p>Attesded by:</p>
                <div style="text-align: center;">
                    <p><strong class="punongBarangay"><u>MR. DOMNIQUE C. CARAGA</u></strong></p>
                    <em>Punong Barangay</em>
                </div>
            </div>
        </div>
        <div style="display: flex; justify-content: end;">
            <div>
                <p>Approved by:</p>
                <div style="text-align: center;">
                    <p><strong class="punongBarangay"><u>HON. IAN C. GONZALES</u></strong></p>
                    <em>Barangay Secretary</em>
                </div>
            </div>
        </div>
    </div>
    <div style="position: relative; z-index: 2; font-size: 12px; margin-top: 2em;">
        <p>Valid for 90 days from the date of issued.</p>
        <p>NOT VALID WITHOUT OFFICIAL DRY SEAL</p>
    </div>
    <%- include("../includes/print-footer.ejs") %>
    <img class="mahusay-logo" src="../images/mahusay-na.png" alt="">
</div>