<div class="A4 with-logo-bg" id="samePerson">
    <%- include("../includes/print-header.ejs") %>
    <div class="cert-header"><img class="linya" src="../images/header-line.png" alt=""></div>

        <div class="title">
            <h2 class="certificationHeading">CERTIFICATION</h2>
        </div>
        <!-- background logo -->
        <img class="bg-logo" src="../images/certificate-background-logo.png" alt="">
        <!-- mahusay na logo footer -->
        <img class="mahusay-logo" src="../images/mahusay-na.png" alt="">
        <div class="context">
            <p class="wala" style="text-indent: 0px !important; margin-bottom: 16px !important;"><strong>TO WHOM IT MAY CONCERN:</strong></p>
            <p><strong>THIS IS TO CERTIFY THAT</strong> <strong> <u id="samePersonFullName">(LEGAL NAME)</u></strong> of legal age,
                resident of <span id="samePersonAddress">(ADDRESS)</span> is the same person as
                <strong><u id="samePersonOtherName">(OTHER NAME)</u></strong> appears on the list of <strong id="samePersonProgram">(PROGRAM/ASSISTANCE)</strong>.
            </p>
            <p>This certification is issues upon the request of the herein interested party for the recipient of
                <span id="samePersonProgram1">(PROGRAM/ASSISTANCE)</span>.</p>
            <p>Given this <strong><u id="dateDay"></u></strong> day of <strong><u id="dateMonth"></u></strong> <strong><u id="dateYear"></u></strong> , at Brgy.
                Maypangdan, Borongan City, Eastern Samar.</p>
            <p></p>
            <p></p>
        </div>
        <div style="display: flex; justify-content: end; margin-right: 71px; margin-top: 100px;">
            <div class="certified">
                <p class="punongBarangayLabel">Attested by:</p>
                <div class="footerLineHeight" style="text-align: center;">
                    <p><strong class="punongBarangay">HON. IAN C. GONZALES</strong></p>
                    <em>Punong Barangay</em>
                </div>
            </div>
        </div>
        <div class="seal" style="margin-top: 100px;">
            <p>O.R Nos.: <span id="samePersonORNos"></span></p>
            <p>Not valid without official dry seal</p>
        </div>
        <%- include("../includes/print-footer.ejs") %>
</div>