<div class="A4 with-logo-bg" id="singleness">
    <div class="lalagyan" style="display: flex; justify-content: end;">
        <style>
            .good-head h6 {
                text-align: center;
                font-weight: 400;
                font-size: 16px;
            }
        </style>
        <div style=" width: 65%; text-align: center;" class="good-head">
            <h6 style="margin-bottom: 20px;">
                Republic of the Philippines <br> Province of Eastern Samar <br> City of Borongan <br> Barangay
                Maypangdan <br>
            </h6>
            <img src="../../images/office-of-punong-barangay.png" alt="" width="500" height="40">
        </div>
    </div>
    <div class="lalagyan">
        <div style="height: 850px;
    width: 35%; display: flex; flex-direction: column;">
            <div class="lefttt-singleness" style="height: 90%;">
                <div>
                    <p><strong>SANGGUNIANG <br> BARANGAY</strong></p>
                </div>
                <div style="text-align: center;">
                    <strong>
                        <p class="punongBarangay">HON. IAN C. GONZALES</p>
                    </strong>
                    <p><em>Punong Barangay</em></p>
                </div>
                <div style="text-align: center;">
                    <p>KAGAWAD:</p>
                    <div class="ngarans" style="text-align: center;">
                        <strong>
                            <p class="kagawad1">HON. CARMELA O. CABEL</p>
                        </strong>
                        <strong>
                            <p class="kagawad2">HON. MANUEL R. BAGAINDOC</p>
                        </strong>
                        <strong>
                            <p class="kagawad3">HON. RAUL E. ALAMBRA</p>
                        </strong>
                        <strong>
                            <p class="kagawad4">HON. BENITO A. APELADO</p>
                        </strong>
                        <strong>
                            <p class="kagawad5">HON. AIMEE GRACE C. AGDA</p>
                        </strong>
                        <strong>
                            <p class="kagawad6">HON.  DAMIANO C. BALDOS</p>
                        </strong>
                        <strong>
                            <p class="kagawad7">HON. EDNAR C. PADRO</p>
                        </strong>
                    </div>
                </div>
                <div style="text-align: center;">
                    <strong>
                        <p class="SKChairPerson">HON. DEXTER G. AQUINO</p>
                    </strong>
                    <p><em>SK Chairperson</em></p>
                </div>
                <div style="text-align: center;">
                    <strong>
                        <p class="brgySecretary">MR. DOMINIQUE C. CARAGA</p>
                    </strong>
                    <p><em>Barangay Secretary</em></p>
                </div>
                <div style="text-align: center;">
                    <strong>
                        <p class="brgyTreasurer">MS. ARIANE C. AGDA</p>
                    </strong>
                    <p><em>Barangay Treasurer</em></p>
                </div>
            </div>
            <div style="font-size: 14px; line-height:15px; text-align: start; margin-top: 3em;">
                <p>O.R. #:  <span id="singlenessORNumber">(OR NUMBER)</span></p>
                <p>Amount Paid: <span id="singlenessAmountPaid">(AMOUNT)</span></p>
                <p>Issued at : Maypangdan-LGU</p>
                <p>Valid for <span id="singlenessValidationDays">(VALIDATION DAYS)</span> days from the date of issue.
                </p>
                <p> Not valid without dry seal</p>
                <p></p>
            </div>
        </div>
        <div class="right">
            <div class="context">
                <div style="text-align: center; margin-bottom: 3em;">
                    <h2>CERTIFICATE OF SINGLENESS</h2>
                </div>
                <p class="wala" style="text-indent: 0px !important; margin-bottom: 16px !important;"><i>TO WHOM IT MAY CONCERN:</i></p>
                <div>
                    <p><i><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;THIS IS TO CERTIFY</strong></i> that <strong
                            id="singlenessFullName">(FULL NAME)</strong>,
                        <span id="singlenessAge">(AGE)</span> years old,
                        <span id="singlenessGender">(GENDER)</span>,  a resident of
                        <u id="singlenessAddress">(ADDRESS)</u>, is a person personally known to me of
                        being
                        <strong><u>SINGLE</u></strong>
                    </p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Certifies further as per record of this office, that he has not yet
                        contracted marriage to
                        anyone. </p>
                    <p>&nbsp;&nbsp;This certification is issued upon request of the herein interested party for whatever
                        legal
                        purposes it may serve him best.</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Given this <u><strong id="dateDay"></strong></u> day of <u><strong
                                id="dateMonth"></strong></u>,
                        <u><strong id="dateYear"></strong></u> with
                        community tax certificate
                        <strong>#: <span id="singlessCertificateNumber">(TAX CERTIFICATE NUMBER)</span></strong> issued
                        at
                        <u>Barangay Maypangdan, Borongan City, Eastern Samar.</u>
                    </p>
                    <p></p>
                </div>
                <div style="display: flex; justify-content: end; margin-top: 6em; margin-right: 3em;">
                    <div>
                        <div class="footerLineHeight" style="text-align: center;">
                            <p style="margin: 0 !important;"><strong class="punongBarangay">HON. IAN C.
                                    GONZALES</strong></p>
                            <em class="adjustEm">Punong Barangay</em>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("../includes/print-footer.ejs") %>
</div>