<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global/general.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include("../includes/header.ejs") %>
        <main class="mainContainer">
            <div class="heading">Inventory</div>
            <div class="tableActionOne">
                <input type="search" placeholder="Search">
                <select class="inventory-dropdown" name="inventory"">
                <option value=" functional">Functional</option>
                    <option value="non-functional">Non-Functional</option>

                </select>
            </div>
            <div class="tableContainer">
                <table>
                    <thead>
                        <tr>
                            <th>NAME</th>
                            <th>QUANTITY</th>
                            <th>AMBOT</th>
                            <th>AMBOT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Computer</td>
                            <td>5</td>
                            <td>ambot</td>
                            <td>ambot</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div aria-label="Page navigation" id="paginationButton">
                <a href="" aria-label="Previous Page">Previous</a>
                <a href="" aria-label="Next Page">Next</a>
            </div>
            <button class="addingForTable">
                ADD ITEM
            </button>
        </main>
</body>
<script>
    document.querySelector("header>nav>ul>li:nth-child(4)").classList.toggle("selected");
</script>

</html>