<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global/general.css">
    <link rel="stylesheet" href="../css/local/officials.css">
    <link rel="stylesheet" href="../css/local/archive.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <title>
        <%= title %>
    </title>
</head>
<body>
    <%- include("../includes/header.ejs") %>
        <main class="officialsMain">
            <button id="add-official-button" onclick="popUp_button(this)"
                style="display: flex ;margin-left: auto; margin-bottom: 24px;">UPDATE BARANGAY OFFICIALS</button>
            <div class="exec">
                <div class="headingOfficials">
                    <h1>BARANGGAY MAYPANGDAN</h1>
                    <h2>ORGANIZATIONAL CHART</h2>
                </div>
                <div class="officials">
                    
                    <div class="officials-container">
                        <img class="profile" id="punongBarangayImage" src="" alt="">
                        <div class="back-images" style="height: 100%;">
                            <div>
                                <img src="../images/flag.png" alt="">
                            </div>
                            <div>
                                <img src="../images/logo1.png" alt="">
                            </div>

                        </div>
                        <div class="rect">
                            <div class="logo-of">
                                <img src="../images/logo1.png" alt="">
                            </div>
                            <div class="info">
                                <div class="make-cent cent">
                                    <h3 id="punongBarangay"></h3>
                                    <p>Punong Baranggay</p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="officialer">
                    <div class="officials-container">
                        <img class="profile" id="kagawadImage1" src="" alt="">
                        <div class="back-images" style="height: 100%;">
                            <div>
                                <img src="../images/flag.png" alt="">
                            </div>
                            <div>
                                <img src="../images/logo1.png" alt="">
                            </div>

                        </div>
                        <div class="rect">
                            <div class="logo-of">
                                <img src="../images/logo1.png" alt="">
                            </div>
                            <div class="info">
                                <div class="make-cent">
                                    <h3 id="kagawad1"></h3>
                                    <p>Chairman of health, Sanitazion</p>
                                    <p>Chairman of Beautification</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="officials-container">
                        <img class="profile" id="kagawadImage2" src="" alt="">
                        <div class="back-images" style="height: 100%;">
                            <div>
                                <img src="../images/flag.png" alt="">
                            </div>
                            <div>
                                <img src="../images/logo1.png" alt="">
                            </div>

                        </div>
                        <div class="rect">
                            <div class="logo-of logo-in">
                                <img src="../images/logo1.png" alt="">
                            </div>
                            <div class="info">
                                <div class="make-cent centor">
                                    <h3 id="kagawad2"></h3>
                                    <p>Chairman on Peace and Order, Anti Drugs</p>
                                    <p>Chairman of Disaster Risk Reduction Management</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="officials-container">
                        <img class="profile" id="kagawadImage3" src="" alt="">
                        <div class="back-images" style="height: 100%;">
                            <div>
                                <img src="../images/flag.png" alt="">
                            </div>
                            <div>
                                <img src="../images/logo1.png" alt="">
                            </div>

                        </div>
                        <div class="rect">
                            <div class="logo-of">
                                <img src="../images/logo1.png" alt="">
                            </div>
                            <div class="info">
                                <div class="make-cent centor">
                                    <h3 id="kagawad3"></h3>
                                    <p>Chairman on Agriculture</p>
                                    <p>Chairman of Environment & Waste Management</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="officials-container">
                        <img class="profile" id="kagawadImage4" src="" alt="">
                        <div class="back-images" style="height: 100%;">
                            <div>
                                <img src="../images/flag.png" alt="">
                            </div>
                            <div>
                                <img src="../images/logo1.png" alt="">
                            </div>

                        </div>
                        <div class="rect">
                            <div class="logo-of logo-out">
                                <img src="../images/logo1.png" alt="">
                            </div>
                            <div class="info">
                                <div class="make-cent centor">
                                    <h3 id="kagawad4"></h3>
                                    <p>Chairman on Tourism, Trade and Industry</p>
                                    <p>Chairman of Women, Children and Family</p>
                                    <p>Chairman of Socio-cultural Affairs</p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="officialer">
                    <div class="officials-container">
                        <img class="profile" id="kagawadImage5" src="" alt="">
                        <div class="back-images" style="height: 100%;">
                            <div>
                                <img src="../images/flag.png" alt="">
                            </div>
                            <div>
                                <img src="../images/logo1.png" alt="">
                            </div>

                        </div>
                        <div class="rect">
                            <div class="logo-of">
                                <img src="../images/logo1.png" alt="">
                            </div>
                            <div class="info">
                                <div class="make-cent centor">
                                    <h3 id="kagawad5"></h3>
                                    <p>Chairman of Appropriation, Budget and Finance</p>
                                    <p>Chairman of Infrastructure and Maintenance</p>
                                    <p>Chairman of BIDS and Awards</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="officials-container">
                        <img class="profile" id="kagawadImage6" src="" alt="">
                        <div class="back-images" style="height: 100%;">
                            <div>
                                <img src="../images/flag.png" alt="">
                            </div>
                            <div>
                                <img src="../images/logo1.png" alt="">
                            </div>

                        </div>
                        <div class="rect">
                            <div class="logo-of">
                                <img src="../images/logo1.png" alt="">
                            </div>
                            <div class="info">
                                <div class="make-cent centor">
                                    <h3 id="kagawad6"></h3>
                                    <p>Chairman on Laws, Rules, Ways and means</p>
                                    <p>Chairman of Cooperative and Development</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="officials-container">
                        <img class="profile" id="kagawadImage7" src="" alt="">
                        <div class="back-images" style="height: 100%;">
                            <div>
                                <img src="../images/flag.png" alt="">
                            </div>
                            <div>
                                <img src="../images/logo1.png" alt="">
                            </div>

                        </div>
                        <div class="rect">
                            <div class="logo-of logo-out">
                                <img src="../images/logo1.png" alt="">
                            </div>
                            <div class="info">
                                <div class="make-cent centor">
                                    <h3 id="kagawad7"></h3>
                                    <p>Chairman on Education</p>
                                    <p>Chairman of Gender and Development</p>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
                <div class="officialer">
                    <div class="officials">
                    <div class="officials-container" id="treasurer">
                        <img class="profile" id="secretaryImage" src="" alt="">
                        <div class="back-images" style="height: 100%;">
                            <div>
                                <img src="../images/flag.png" alt="">
                            </div>
                            <div>
                                <img src="../images/logo1.png" alt="">
                            </div>

                        </div>
                        <div class="rect">
                            <div class="logo-of">
                                <img src="../images/logo1.png" alt="">
                            </div>
                            <div class="info">
                                <div class="make-cent">
                                    <h3 id="secretaryName"></h3>
                                    <p>Baranggay Secretary</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="officials-container">
                        <img class="profile" id="SKChairpersonImage" src="" alt="">
                        <div class="back-images" style="height: 100%;">
                            <div>
                                <img src="../images/flag.png" alt="">
                            </div>
                            <div>
                                <img src="../images/logo1.png" alt="">
                            </div>

                        </div>
                        <div class="rect">
                            <div class="logo-of">
                                <img src="../images/logo1.png" alt="">
                            </div>
                            <div class="info">
                                <div class="make-cent cent">
                                    <h3 id="SKChairperson"></h3>
                                    <p>SK Chairperson</p>
                                    <p>Chairman of Youth and Devevlopment</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="officials-container" id="treasurer">
                        <img class="profile" id="treasurerImage" src="" alt="">
                        <div class="back-images" style="height: 100%;">
                            <div>
                                <img src="../images/flag.png" alt="">
                            </div>
                            <div>
                                <img src="../images/logo1.png" alt="">
                            </div>

                        </div>
                        <div class="rect">
                            <div class="logo-of">
                                <img src="../images/logo1.png" alt="">
                            </div>
                            <div class="info">
                                <div class="make-cent">
                                    <h3 id="treasurerName"></h3>
                                    <p>Baranggay Treasurer</p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>


                </div>
            </div>


            <!-- pop up -->
            <div class="pop-up" id="add-officials">

                <div class="close-container">
                    <img src="../icon/close.svg" alt="" class="close_popUp">
                </div>
                <h1 class="heading">BARANGAY OFFICIALS</h1>

                <main>
                    <form id="formToAddResident" action="/officials//update-barangay-officials" method="POST" enctype="multipart/form-data">
                        <hr>
                        <div class="add-survey-input-container">
                            <h3 style="position: sticky; top: 0px; background-color: white;">Punong Barangay</h3>
                            <div class="row">
                                <div>
                                    <div class="inputWithLabel" id="surubadan">
                                        <label>Last Name</label>
                                        <input type="text" aria-label="Last Name" name="punongBarangayLastName" required>
                                    </div>
                                    <div class="inputWithLabel">
                                        <label>First Name</label>
                                        <input type="text" aria-label="First Name" name="punongBarangayFirstName"
                                            required>
                                    </div>
                                    <div class="inputWithLabel">
                                        <label>Middle Name</label>
                                        <input type="text" aria-label="Middle Name" name="punongBarangayMiddleName"
                                            required>
                                    </div>
                                </div>
                                <div class="ID-container">
                                    <div class="image-preview" id="imagePreview">
                                        <p>No image uploaded</p>
                                    </div>
                                    <div class="buttons">
                                        <button type="button" class="button upload" onclick="triggerUpload()">Upload</button>
                                        <input type="file" name="punongBarangayImage" id="fileInput" accept="image/*"
                                            onchange="displayImage(event)">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="add-survey-input-container">
                            <h3 style="position: sticky; top: 0px; background-color: white;">Barangay Kagawad</h3>
                            <div class="row">
                                <div>
                                    <div class="inputWithLabel" id="surubadan">
                                        <label>Last Name</label>
                                        <input type="text" aria-label="Last Name" name="kagawad1LastName" required>
                                    </div>
                                    <div class="inputWithLabel">
                                        <label>First Name</label>
                                        <input type="text" aria-label="First Name" name="kagawad1FirstName"
                                            required>
                                    </div>
                                    <div class="inputWithLabel">
                                        <label>Middle Name</label>
                                        <input type="text" aria-label="Middle Name" name="kagawad1MiddleName"
                                            required>
                                    </div>
                                </div>
                                <div class="ID-container">
                                    <div class="image-preview" id="imagePreview1">
                                        <p>No image uploaded</p>
                                    </div>
                                    <div class="buttons">
                                        <button type="button" class="button upload" onclick="triggerUpload1()">Upload</button>
                                        <input type="file" name="kagawad1Image" id="fileInput1" accept="image/*"
                                            onchange="displayImage1(event)">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div>
                                    <div class="inputWithLabel" id="surubadan">
                                        <label>Last Name</label>
                                        <input type="text" aria-label="Last Name" name="kagawad2LastName" required>
                                    </div>
                                    <div class="inputWithLabel">
                                        <label>First Name</label>
                                        <input type="text" aria-label="First Name" name="kagawad2FirstName"
                                            required>
                                    </div>
                                    <div class="inputWithLabel">
                                        <label>Middle Name</label>
                                        <input type="text" aria-label="Middle Name" name="kagawad2MiddleName"
                                            required>
                                    </div>
                                </div>
                                <div class="ID-container">
                                    <div class="image-preview" id="imagePreview2">
                                        <p>No image uploaded</p>
                                    </div>
                                    <div class="buttons">
                                        <button type="button" class="button upload" onclick="triggerUpload2()">Upload</button>
                                        <input type="file" name="kagawad2Image" id="fileInput2" accept="image/*"
                                            onchange="displayImage2(event)">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div>
                                    <div class="inputWithLabel" id="surubadan">
                                        <label>Last Name</label>
                                        <input type="text" aria-label="Last Name" name="kagawad3LastName" required>
                                    </div>
                                    <div class="inputWithLabel">
                                        <label>First Name</label>
                                        <input type="text" aria-label="First Name" name="kagawad3FirstName"
                                            required>
                                    </div>
                                    <div class="inputWithLabel">
                                        <label>Middle Name</label>
                                        <input type="text" aria-label="Middle Name" name="kagawad3MiddleName"
                                            required>
                                    </div>
                                </div>
                                <div class="ID-container">
                                    <div class="image-preview" id="imagePreview3">
                                        <p>No image uploaded</p>
                                    </div>
                                    <div class="buttons">
                                        <button type="button" class="button upload" onclick="triggerUpload3()">Upload</button>
                                        <input type="file" name="kagawad3Image" id="fileInput3" accept="image/*"
                                            onchange="displayImage3(event)">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div>
                                    <div class="inputWithLabel" id="surubadan">
                                        <label>Last Name</label>
                                        <input type="text" aria-label="Last Name" name="kagawad4LastName" required>
                                    </div>
                                    <div class="inputWithLabel">
                                        <label>First Name</label>
                                        <input type="text" aria-label="First Name" name="kagawad4FirstName"
                                            required>
                                    </div>
                                    <div class="inputWithLabel">
                                        <label>Middle Name</label>
                                        <input type="text" aria-label="Middle Name" name="kagawad4MiddleName"
                                            required>
                                    </div>
                                </div>
                                <div class="ID-container">
                                    <div class="image-preview" id="imagePreview4">
                                        <p>No image uploaded</p>
                                    </div>
                                    <div class="buttons">
                                        <button type="button" class="button upload" onclick="triggerUpload4()">Upload</button>
                                        <input type="file" name="kagawad4Image" id="fileInput4" accept="image/*"
                                            onchange="displayImage4(event)">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div>
                                    <div class="inputWithLabel" id="surubadan">
                                        <label>Last Name</label>
                                        <input type="text" aria-label="Last Name" name="kagawad5LastName" required>
                                    </div>
                                    <div class="inputWithLabel">
                                        <label>First Name</label>
                                        <input type="text" aria-label="First Name" name="kagawad5FirstName"
                                            required>
                                    </div>
                                    <div class="inputWithLabel">
                                        <label>Middle Name</label>
                                        <input type="text" aria-label="Middle Name" name="kagawad5MiddleName"
                                            required>
                                    </div>
                                </div>
                                <div class="ID-container">
                                    <div class="image-preview" id="imagePreview5">
                                        <p>No image uploaded</p>
                                    </div>
                                    <div class="buttons">
                                        <button type="button" class="button upload" onclick="triggerUpload5()">Upload</button>
                                        <input type="file" name="kagawad5Image" id="fileInput5" accept="image/*"
                                            onchange="displayImage5(event)">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div>
                                    <div class="inputWithLabel" id="surubadan">
                                        <label>Last Name</label>
                                        <input type="text" aria-label="Last Name" name="kagawad6LastName" required>
                                    </div>
                                    <div class="inputWithLabel">
                                        <label>First Name</label>
                                        <input type="text" aria-label="First Name" name="kagawad6FirstName"
                                            required>
                                    </div>
                                    <div class="inputWithLabel">
                                        <label>Middle Name</label>
                                        <input type="text" aria-label="Middle Name" name="kagawad6MiddleName"
                                            required>
                                    </div>
                                </div>
                                <div class="ID-container">
                                    <div class="image-preview" id="imagePreview6">
                                        <p>No image uploaded</p>
                                    </div>
                                    <div class="buttons">
                                        <button type="button" class="button upload" onclick="triggerUpload6()">Upload</button>
                                        <input type="file" name="kagawad6Image" id="fileInput6" accept="image/*"
                                            onchange="displayImage6(event)">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div>
                                    <div class="inputWithLabel" id="surubadan">
                                        <label>Last Name</label>
                                        <input type="text" aria-label="Last Name" name="kagawad7LastName" required>
                                    </div>
                                    <div class="inputWithLabel">
                                        <label>First Name</label>
                                        <input type="text" aria-label="First Name" name="kagawad7FirstName"
                                            required>
                                    </div>
                                    <div class="inputWithLabel">
                                        <label>Middle Name</label>
                                        <input type="text" aria-label="Middle Name" name="kagawad7MiddleName"
                                            required>
                                    </div>
                                </div>
                                <div class="ID-container">
                                    <div class="image-preview" id="imagePreview7">
                                        <p>No image uploaded</p>
                                    </div>
                                    <div class="buttons">
                                        <button type="button" class="button upload" onclick="triggerUpload7()">Upload</button>
                                        <input type="file" name="kagawad7Image" id="fileInput7" accept="image/*"
                                            onchange="displayImage7(event)">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="add-survey-input-container">
                            <h3 style="position: sticky; top: 0px; background-color: white;">SK Chairperson</h3>
                            <div class="row">
                                <div>
                                    <div class="inputWithLabel" id="surubadan">
                                        <label>Last Name</label>
                                        <input type="text" aria-label="Last Name" name="SKChairpersonLastName" required>
                                    </div>
                                    <div class="inputWithLabel">
                                        <label>First Name</label>
                                        <input type="text" aria-label="First Name" name="SKChairpersonFirstName"
                                            required>
                                    </div>
                                    <div class="inputWithLabel">
                                        <label>Middle Name</label>
                                        <input type="text" aria-label="Middle Name" name="SKChairpersonMiddleName"
                                            required>
                                    </div>
                                </div>
                                <div class="ID-container">
                                    <div class="image-preview" id="imagePreview10">
                                        <p>No image uploaded</p>
                                    </div>
                                    <div class="buttons">
                                        <button type="button" class="button upload" onclick="triggerUpload10()">Upload</button>
                                        <input type="file" name="SKChairpersonImage" id="fileInput10" accept="image/*"
                                            onchange="displayImage10(event)">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="add-survey-input-container">
                            <h3 style="position: sticky; top: 0px; background-color: white;">Barangay Secretary</h3>
                            <div class="row">
                                <div>
                                    <div class="inputWithLabel" id="surubadan">
                                        <label>Last Name</label>
                                        <input type="text" aria-label="Last Name" name="barangaySecretaryLastName" required>
                                    </div>
                                    <div class="inputWithLabel">
                                        <label>First Name</label>
                                        <input type="text" aria-label="First Name" name="barangaySecretaryFirstName"
                                            required>
                                    </div>
                                    <div class="inputWithLabel">
                                        <label>Middle Name</label>
                                        <input type="text" aria-label="Middle Name" name="barangaySecretaryMiddleName"
                                            required>
                                    </div>
                                </div>
                                <div class="ID-container">
                                    <div class="image-preview" id="imagePreview8">
                                        <p>No image uploaded</p>
                                    </div>
                                    <div class="buttons">
                                        <button type="button" class="button upload" onclick="triggerUpload8()">Upload</button>
                                        <input type="file" name="barangaySecretaryImage" id="fileInput8" accept="image/*"
                                            onchange="displayImage8(event)">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="add-survey-input-container">
                            <h3 style="position: sticky; top: 0px; background-color: white;">Barangay Treasurer</h3>
                            <div class="row">
                                <div>
                                    <div class="inputWithLabel" id="surubadan">
                                        <label>Last Name</label>
                                        <input type="text" aria-label="Last Name" name="barangayTreasurerLastName" required>
                                    </div>
                                    <div class="inputWithLabel">
                                        <label>First Name</label>
                                        <input type="text" aria-label="First Name" name="barangayTreasurerFirstName"
                                            required>
                                    </div>
                                    <div class="inputWithLabel">
                                        <label>Middle Name</label>
                                        <input type="text" aria-label="Middle Name" name="barangayTreasurerMiddleName"
                                            required>
                                    </div>
                                </div>
                                <div class="ID-container">
                                    <div class="image-preview" id="imagePreview9">
                                        <p>No image uploaded</p>
                                    </div>
                                    <div class="buttons">
                                        <button type="button" class="button upload" onclick="triggerUpload9()">Upload</button>
                                        <input type="file" name="barangayTreasurerImage" id="fileInput9" accept="image/*"
                                            onchange="displayImage9(event)">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" id="submit_add_officials"
                            style="display: flex; margin-left: auto;">SUBMIT</button>
                    </form>
                </main>
            </div>
        </main>
</body>
<script src="../../js/local/officials/officials-api.js"></script>
<script src="../../js/global/pop-up.js"></script>
<script>
    document.querySelector("header>nav>ul>li:nth-child(7)").classList.toggle("selected");

    function triggerUpload() {
        document.getElementById("fileInput").click();
    }    
    function triggerUpload1() {
        document.getElementById("fileInput1").click();
    }
    function triggerUpload2() {
        document.getElementById("fileInput2").click();
    }
    function triggerUpload3() {
        document.getElementById("fileInput3").click();
    }
    function triggerUpload4() {
        document.getElementById("fileInput4").click();
    }
    function triggerUpload5() {
        document.getElementById("fileInput5").click();
    }
    function triggerUpload6() {
        document.getElementById("fileInput6").click();
    }
    function triggerUpload7() {
        document.getElementById("fileInput7").click();
    }
    function triggerUpload8() {
        document.getElementById("fileInput8").click();
    }
    function triggerUpload9() {
        document.getElementById("fileInput9").click();
    }
    function triggerUpload10() {
        document.getElementById("fileInput10").click();
    }

    // Function to display the selected image
    function displayImage(event) {
        const file = event.target.files[0];
        const preview = document.getElementById("imagePreview");
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                preview.innerHTML = `<img src="${e.target.result}" alt="Uploaded Image">`;
            };
            reader.readAsDataURL(file);
        } else {
            preview.innerHTML = `<p>No image uploaded</p>`;
        }
    }
    function displayImage1(event) {
        const file = event.target.files[0];
        const preview = document.getElementById("imagePreview1");
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                preview.innerHTML = `<img src="${e.target.result}" alt="Uploaded Image">`;
            };
            reader.readAsDataURL(file);
        } else {
            preview.innerHTML = `<p>No image uploaded</p>`;
        }
    }
    function displayImage2(event) {
        const file = event.target.files[0];
        const preview = document.getElementById("imagePreview2");
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                preview.innerHTML = `<img src="${e.target.result}" alt="Uploaded Image">`;
            };
            reader.readAsDataURL(file);
        } else {
            preview.innerHTML = `<p>No image uploaded</p>`;
        }
    }
    function displayImage3(event) {
        const file = event.target.files[0];
        const preview = document.getElementById("imagePreview3");
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                preview.innerHTML = `<img src="${e.target.result}" alt="Uploaded Image">`;
            };
            reader.readAsDataURL(file);
        } else {
            preview.innerHTML = `<p>No image uploaded</p>`;
        }
    }
    function displayImage4(event) {
        const file = event.target.files[0];
        const preview = document.getElementById("imagePreview4");
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                preview.innerHTML = `<img src="${e.target.result}" alt="Uploaded Image">`;
            };
            reader.readAsDataURL(file);
        } else {
            preview.innerHTML = `<p>No image uploaded</p>`;
        }
    }
    function displayImage6(event) {
        const file = event.target.files[0];
        const preview = document.getElementById("imagePreview6");
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                preview.innerHTML = `<img src="${e.target.result}" alt="Uploaded Image">`;
            };
            reader.readAsDataURL(file);
        } else {
            preview.innerHTML = `<p>No image uploaded</p>`;
        }
    }
    function displayImage7(event) {
        const file = event.target.files[0];
        const preview = document.getElementById("imagePreview7");
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                preview.innerHTML = `<img src="${e.target.result}" alt="Uploaded Image">`;
            };
            reader.readAsDataURL(file);
        } else {
            preview.innerHTML = `<p>No image uploaded</p>`;
        }
    }
    function displayImage5(event) {
        const file = event.target.files[0];
        const preview = document.getElementById("imagePreview5");
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                preview.innerHTML = `<img src="${e.target.result}" alt="Uploaded Image">`;
            };
            reader.readAsDataURL(file);
        } else {
            preview.innerHTML = `<p>No image uploaded</p>`;
        }
    }
    function displayImage8(event) {
        const file = event.target.files[0];
        const preview = document.getElementById("imagePreview8");
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                preview.innerHTML = `<img src="${e.target.result}" alt="Uploaded Image">`;
            };
            reader.readAsDataURL(file);
        } else {
            preview.innerHTML = `<p>No image uploaded</p>`;
        }
    }
    function displayImage9(event) {
        const file = event.target.files[0];
        const preview = document.getElementById("imagePreview9");
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                preview.innerHTML = `<img src="${e.target.result}" alt="Uploaded Image">`;
            };
            reader.readAsDataURL(file);
        } else {
            preview.innerHTML = `<p>No image uploaded</p>`;
        }
    }
    function displayImage10(event) {
        const file = event.target.files[0];
        const preview = document.getElementById("imagePreview10");
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                preview.innerHTML = `<img src="${e.target.result}" alt="Uploaded Image">`;
            };
            reader.readAsDataURL(file);
        } else {
            preview.innerHTML = `<p>No image uploaded</p>`;
        }
    }
</script>

</html>