<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/global/general.css">
  <link rel="stylesheet" href="../css/local/home.css">
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
  <title>
    <%= title %>
  </title>
</head>

<body>
  <%- include("../includes/header.ejs") %>
    <main class="mainContainer">
      <div class="heading">Service Request Form</div>
      <input type="text" id="qrInput" required autocomplete="off"
        style="opacity: 0; position: fixed; transform: translate(-50%, -50%),;">
      <div style="display: flex; align-items: center; justify-content: space-between; padding: 0 15%;">
        <div class="search-container" style="display: flex; align-items: center;">
          <div class="inputWithLabel search-wrapper">
            <div style="display: flex; align-items: center;">
              <div>
                <input type="text" class="search-bar" id="searchBar" autocomplete="off" placeholder="Search by ID-number">
                <div id="results" style="display:none"></div>
              </div>
              <img class="search-icon" id="searchIcon" src="../icon/search_icon.svg" alt="">
              <!-- <span class="search-icon" id="searchIcon">&#128269;</span> -->
            </div>
          </div>
        </div>
        <div class="scanSwitch">
          Outsiders
          <label class="switch">
            <input type="checkbox" id="scanSwitch">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
      <form action="/home/service-request-form" method="POST" class="requestForm">
        <input type="hidden" id="qrOutput" name="id" autocomplete="off" style="position: absolute;" value="MPDN0000">
        <div class="formInputContainer">
          <div>
            <div class="inputWithLabel">
              <label for="">Last Name</label>
              <input type="text" id="lastname" name="lastname" readonly required>
            </div>
            <div class="inputWithLabel">
              <label for="">First Name</label>
              <input type="text" id="firstname" name="firstname" readonly required>
            </div>
            <div class="inputWithLabel">
              <label for="" id="middlename1">Middle Name</label>
              <input type="text" id="middlename" name="middlename" readonly>
            </div>
            <div class="inputWithLabel">
              <label for="">Age</label>
              <input type="number" id="age" name="age" readonly required>
            </div>
            <div class="inputWithLabel">
              <label for="">Birthday</label>
              <input type="date" id="birthdate" name="birthdate" readonly required autocomplete="off">
            </div>
          </div>
          <div>
            <div class="inputWithLabel">
              <label for="" id="birthplaceLabel">Birthplace</label>
              <input type="text" id="birthplace" name="birthplace" readonly>
            </div>
            <div class="inputWithLabel">
              <label for="">Civil Status</label>
              <select id="civilStatus" name="civilStatus" required>
                <option value="Single">Single</option>
                <option value="Married">Married</option>
                <option value="Widow">Widow</option>
                <option value="Widower">Widower</option>
              </select>
            </div>
            <div class="inputWithLabel">
              <label for="" id="purokLabel">Purok</label>
              <input type="text" id="purok" name="purok" readonly>
            </div>
            <div class="inputWithLabel">
              <label for="" id="grossIncomeLabel">Gross Income</label>
              <input type="text" id="grossIncome" name="grossIncome" readonly>
            </div>
            <div class="inputWithLabel">
              <label for="">Purpose</label>
              <select class="services-dropdown" name="purpose" id="purpose" required>
                <option value="" disabled selected>
                  Select a Services
                </option>
                <option value="Brgy. Clearance">Brgy. Clearance</option>
                <option value="Building Clearance">Building Clearance</option>
                <option value="Burial Certificate">Burial Certificate</option>
                <option value="Business Clearance">Business Clearance</option>
                <option value="Business Closure">Business Closure</option>
                <option value="Common Law">Common Law</option>
                <option value="Death Certificate">Death Certificate</option>
                <option value="Employment">Employment</option>
                <option value="Good Moral">Good Moral</option>
                <option value="Guardianship">Guardianship</option>
                <option value="Income">Income</option>
                <option value="Indigency">Indigency</option>
                <option value="Land no claim">Land no claim</option>
                <option value="Late Registration">Late Registration</option>
                <option value="Panumduman">Panumduman</option>
                <option value="RA 11261">RA 11261</option>
                <option value="Oath Of Undertaking">RA 11261 (Oath Of Undertaking)</option>
                <option value="Residency">Residency</option>
                <option value="Same Person">Same Person</option>
                <option value="Singleness">Singleness</option>
                <option value="Solo Parent">Solo Parent</option>
                <option value="Water District">Water District</option>
              </select>
            </div>
          </div>
        </div>

        <button type="submit" id="submitButton" disabled>SUBMIT</button>
      </form>

      <% if (messages.success) { %>
        <div class="overlay"></div>
        <div class="alert alert-success" id="submit_prompt">
          <img src="../images/success-img.png" alt="">
          <div>
            <h2>Reuqest Submitted Successfully</h2>
            <p>
              <%= messages.success %>
            </p>
            <main>
              <button type="button" class="button-green" onclick="closePopup()">Done</button>
            </main>
          </div>
        </div>
        <% } %>
          <div class="alert alert-danger errorMan" id="submit_prompt1">
            <img src="../images/error.png" alt="">
            <div>
              <h2 id="scanningHeaderMessage">Scanning QR Failed</h2>
              <p class="error-message">
                <%= messages.error%>
              </p>
              <main>
                <button type="button" class="button-green" onclick="closePopup()">Done</button>
              </main>
            </div>
          </div>
    </main>
</body>
<script src="../../js/local/request-api.js"></script>
<script src="../../js/global/pop-up.js"></script>
<script>
  document.querySelector("header>nav>ul>li:first-child").classList.toggle("selected");
  function closePopup() {
    if (submitPrompt) {
      submitPrompt.style.display = "none";
    }
    if (document.getElementById("submit_prompt1")) {
      document.getElementById("submit_prompt1").classList.remove("visible1")
    }
    overlay.classList.remove("visible");
    // window.location.reload();
  }
</script>

</html>