* {
  margin: 0;
}

body {
  font-family: 'Poppins';
}

.heading {
  font-family: 'Poppins';
}

:root {
  --green-color: #33A90F;
  --font-size: 1.5rem;
  --shadow: 0 4px 15px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.05);
}

body::-webkit-scrollbar {
  display: none;
}


header {
  background-color: var(--green-color);
  width: 100%;
}

header>.LogoSection {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 80px;
  background-image: url("../../images/headBackground.png");
  padding: 20px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header>.LogoSection>h1 {
  font-size: 1rem;
}


header>nav>ul {
  display: flex;
  gap: 10px;
}

header>nav>ul>li {
  list-style: none;
  padding: 15px;
  color: white;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
  font-family: sans-serif !important;
}

.selected {
  border-bottom: 4px solid yellow;
}

.mainContainer {
  padding: 40px;
  width: -webkit-fill-available;
  height: 100vh;
}

.mainContainer>.heading {
  color: #444516;
  text-align: center;
  font-family: 'Poppins';
  font-size: 2rem;
  font-style: normal;
  font-weight: bolder;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  margin-bottom: 40px;

}

.inputWithLabel {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}


.inputWithLabel input {
  border-radius: 10px;
  padding: 4px 8px;
  outline: none;
  border: 1px solid black;
  height: 28px;
}


select {
  border-radius: 10px;
  padding: 4px 8px;
  outline: none;
  border: 1px solid black;
  height: 38px;
}

input {
  border-radius: 10px;
  padding: 4px 8px;
  outline: none;
  border: 1px solid black;
  height: 38px;
}

button {
  background-color: var(--green-color);
  color: white;
  padding: 12px;
  outline: none;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  letter-spacing: 2px;
  box-shadow: var(--shadow);
  cursor: pointer;
}

.scanSwitch {
  justify-self: end;
  align-self: self-end;
  display: flex;
  justify-content: end;
  align-items: end;
  flex-direction: column;
}


.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  margin-right: 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch input:checked+.slider {
  background-color: var(--green-color);
}

.switch input:focus+.slider {
  box-shadow: 0 0 1px var(--green-color);
}

.switch input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.tableContainer {
  width: 100%;
  overflow: scroll;
  max-height: 700px;
  height: fit-content;
  margin-bottom: 24px;
  position: relative;
}

.tableContainer::-webkit-scrollbar {
  display: none;
}

table {
  margin-top: 32px;
  border-collapse: collapse;
  min-width: 100%;
}

table>thead>tr {
  height: 40px;
  background-color: var(--green-color);
  color: #fff;
}

table>thead>tr>th,
table>tbody>tr>td {
  padding: 12px;
  text-wrap: nowrap;
  font-weight: 400;
}

table>tbody>tr {
  height: 40px;
  border-bottom: 1px solid #848383;
  text-align: center;
}

#paginationButton a {
  background-color: var(--green-color);
  color: white;
  padding: 12px;
  width: 80px;
  text-align: center;
  outline: none;
  font-size: 13px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  letter-spacing: 2px;
  box-shadow: var(--shadow);
  cursor: pointer;
  text-decoration: none;
}

#paginationButton {
  margin-top: 40px;
  display: flex;
  gap: 16px;
}

.addingForTable {
  display: flex;
  margin-left: auto;
}

.tableActionOne {
  display: flex;
  justify-content: space-between;
}

input[type="search"] {
  width: 30%;
}

input[type="search"]::placeholder {
  font-style: italic;
}

/* pop up */
.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .5;
  display: none;
  z-index: 1;
}

.pop-up,
.pop-up-confirm {
  position: fixed;
  min-width: 620px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background: #FFF;
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
  box-shadow: var(--shadow);
  overflow: hidden;
  padding: 30px 60px;
  display: none;
  overflow: auto;
  z-index: 2;
  max-height: 80%;
}

.pop-up>.close-container {
  margin: 0 -60px;
  margin-top: -30px;
  display: grid;
  place-items: end;
  padding: 12px;
}

.pop-up>.close-container>img {
  cursor: pointer;
}

.pop-up>.heading {
  color: #444516;
  text-align: center;
  font-style: normal;
  line-height: normal;
  margin-bottom: 40px;
}

.pop-up-confirm {
  display: none !important;
}

.pop-up-confirm>div {
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
}

.pop-up-confirm>div>main {
  justify-content: center;
  display: flex;
  gap: 12px;
}

.visible {
  display: block !important;
}


/* triple dot css */
.menu-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dot {
  cursor: pointer;
}

.triple-dot {
  margin-bottom: -240px;
  margin-left: -150px;
  position: absolute;
  display: none;
}

.triple-dot .visible {
  display: block;
}

.menu {
  display: flex;
  gap: 12px;
  flex-direction: column;
  background-color: #FFF;
  border-radius: 10px;
  padding: 24px;
  box-shadow: var(--shadow);
}

.menu button {
  width: auto;
  color: white;
}

.menu button:hover {
  background-color: #44a130;
  color: #FFF;
}