#certificateContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    border: 1px solid #000;
    box-sizing: border-box; /* tanggala pagnahibang */
}


/* paper size */
.A4 {
    width: 8.27in;
    height: 11.69in;
    box-sizing: border-box;
    background-color: white;
    position: relative;
    display: none;
    page-break-inside: avoid;
}





/* logo's backggound */

.bg-logo {
    position: absolute;
    z-index: 1;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 91%;
    height: auto;
}

.mahusay-logo {
    position: absolute;
    z-index: 2;
    width: 140px;
    height: 90px;
    bottom: 7%;
    right: 10%;
}




/* certificares headers */
.cert-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.linya {
    width: 90%;
    height: 19px;
    margin-top: 8px;
}

.certificate-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.certificate-logo h6 {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 18px;
    margin-bottom: 5px;
}

/* logo img */
.certificate-logo img {
    width: 100px;
    height: 100px;
}

/* titles */
.title {
    position: relative;
    z-index: 2;
    color: red;
    /* font-size: 20pt; */
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}


/* contextt  */
.context {
    text-align: justify;
    margin: 30px 60px;
    position: relative;
    z-index: 2;
}


.context p {
    text-indent: 30px;
    margin-bottom: 32px;
}


.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    position: absolute !important;
    bottom: 0;
    margin-bottom: 10px;
    position: relative;
    z-index: 2;
    width: 100%;
}


.certified {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: auto;
}



.wala {
    text-indent: 0 !important;
    margin-bottom: 16px;
}

.seal {
    position: relative;
    z-index: 2;
    margin: 30px 60px;
    line-height: 12px;
}

.seal1 {
    position: absolute;
    z-index: 2;
    left: 35%;
    line-height: 12px;
    transform: translate(-100%, -70%);
}


/* layout css */

.row {
    display: flex;
}

.g-row {
    display: grid;
    grid-template-columns: 1fr 3fr;
    row-gap: 8px;
}


.g-row-2 {
    display: grid;
    grid-template-columns:100px 100px 300px ;
    row-gap: 8px;
    text-wrap: wrap;
}

.colum {
    display: flex;
    flex-direction: column;
}

.align-item-center {
    align-items: center;
}

.just-content-center {
    justify-content: center;
}

#certificateContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    border: 1px solid #000;
}

/* my design design na certficate */


.m {
    margin-top: 2em;
}

/* .ngarans {
    line-height: 12px;
} */

.sanguni {
    margin-top: 3em;
    color: red;
    line-height: 24px;
}

.title img {
    margin-top: 16px;
    width: 68%;
}

.lalagyan { 
    display: flex;
    gap: 20px;
}

.lefttt {
    background-image: url("../../images/blue-left.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 850px;
    width: 35%;
    /* border: solid rgb(223, 35, 35) 1px; */
}
.lefttt-g {
    background-image: url("../../images/dark-blue-side.png");
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
    text-align: center;
    height: 850px;
    width: 35%;
    /* border: solid rgb(223, 35, 35) 1px; */
}
.lefttt-singleness {
    background-image: url("../../images/brow-pattern.png");
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    background-size: cover;
    text-align: center;
    height: 700px;
    width: 35%;
    /* border: solid rgb(223, 35, 35) 1px; */
}
.lefttt-RA-1162 {
    background-image: url("../../images/gradient-yellow-d.png");
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    background-size:cover;
    text-align: center;
    height: auto;
    width: 35%;
    /* padding: 1em; */
    /* border: solid rgb(223, 35, 35) 1px; */
}

.right {
    width: 65%;
    /* border: solid black 1px; */
}

.right .context {
    margin: 0;
}

.tang {
    font-size: 16px !important;
}

.g-row p {
    text-indent: 0 !important;
    padding: 0;
    margin-bottom: 0 !important;
    margin: 0;
}

.g-row-2 p {
    text-indent: 0 !important;
    padding: 0;
    margin-bottom: 0 !important;
    margin: 0;
}

.bx {
    height: 100px;
    width: 100px;
    border: solid black 1px;
}


@media print {

    @page {
        margin: 0;
    }

    /* * {
        page-break-before: auto; 
        page-break-after: auto;
        page-break-inside: auto;
    } */

    #certificate, header, .mainContainer, #process-certificate, .F, button, .close-container, .overlay, .A4{
        display: none !important;
        position: relative;
        z-index: 1;
    }



    body {
        margin: 0;
        padding: 0;
        display: grid;
        place-items: center;
        /* display: none !important; */
    }
/* 
    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
        padding: unset;
        margin: unset;
    } */

    /* #certificateContainer > img {
        display: block !important;
    } */


    #printCert {
        display: block !important;
        max-width: 100%;
        max-height: 100vh;
        object-fit: contain;
        margin: auto;
        page-break-inside: avoid;
    }

    

    /* #certificate {
        position: absolute;
        top: 0 !important;
        left: 50% !important;
        transform: translate(-50%) !important;
        z-index: 2;
        overflow: visible;
    } */



    /* #certificate {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        transform: none;
        z-index: auto;
        overflow: visible;
        page-break-inside: avoid;
    } */
    


    /* #certificate {
        border: solid black;
        background-color: aqua;
        padding: 0;
        margin: 0;
        overflow: hidden;
        max-width: unset;
        max-height: unset;
        width: 100%;
        height: auto;
    } */

    /* #certificateContainer {
        padding: 0;
        margin: 0;
    }  */

    /* #certificateContainer img {
        border: solid black;
        padding: 0;
        margin: 0;
        width: inherit !important;
        height: inherit !important;
    } */

    


    /* .pop-up>.close-container {
        padding: 0 !important;
    } */

/* 
    .pop-up {
        box-shadow: none;
        padding: 0 !important;
    } */


}


/* paper size */
/* .A4 {
    width: 8.27in;
    height: 11.69in;
    box-sizing: border-box;
    background-color: white;
    position: relative;
    display: none;
} */




/* logo's backggound */
/* 
.bg-logo {
    position: absolute;
    z-index: 1;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 91%;
    height: auto;
}

.mahusay-logo {
    position: absolute;
    z-index: 2;
    width: 140px;
    height: 90px;
    bottom: 7%;
    right: 10%;
} */




/* certificares headers */
/* .cert-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cert-header img {
    width: 90%;
    height: 19px;
    margin-top: 5px;
}

.certificate-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.certificate-logo h6 {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 18px;
    margin-bottom: 5px;
} */

/* logo img */
/* .certificate-logo img {
    width: 100px;
    height: 100px;
} */

/* titles */
/* .title {
    position: relative;
    z-index: 2;
    color: red;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 48px;
} */


/* contextt  */
/* .context {
    text-align: justify;
    margin: 30px 60px;
    position: relative;
    z-index: 2;
}


.context p {
    text-indent: 30px;
    margin-bottom: 32px;
}


.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
}


.certified {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: auto;
}


.wala {
    text-indent: 0 !important;
    margin-bottom: 20px;
}

.seal {
    position: relative;
    z-index: 2;
    margin: 30px 60px;
}
 */

/* layout css */
/* 
.row {
    display: flex;
}

.colum {
    display: flex;
    flex-direction: column;
}

.align-item-center {
    align-items: center;
}

.just-content-center {
    justify-content: center;
} */