#add-document .row,
#add-document .row1 {
  display: flex;
  gap: 12px;
  flex-direction: column;
}

#add-document .row {
  flex-wrap: wrap;
  flex: 1;
  margin-top: -40px;
}

#add-document form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#add-document {
  width: 60%;
}

#add-document form #submit_add_document {
  width: fit-content;
  align-self: center;
  padding: 12px 80px;
}

.add-inventory-input-container {
  display: flex;
  gap: 12px;
  align-items: center;
}


.inputWithLabel>div {
  display: flex;
  gap: 12px;
}

.inputWithLabel>div>input {
  width: 100%;
}

.ID-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  max-width: 400px;
  padding: 20px;
}

.image-preview {
  width: 250px;
  height: 250px;
  background-color: #f3f3f3;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.image-preview img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.buttons {
  display: flex;
  gap: 10px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.button.capture {
  background-color: #33A90F;
}

.button.upload {
  background-color: #008cba;
}

#fileInput {
  display: none;
}

#imageContainer #imageTo {
  width: 150vh;
  object-fit: contain;
}

#imageContainer {
  border: 1px solid #000;
  margin: 12px 0;
  display: grid;
  place-items: center;
}

.buttonContainerInArchibe {
  display: flex;
  gap: 12px;
}

.buttonContainerInArchibe button {
  padding: 12px 40px;
}

.buttonContainerInArchibe button:last-child {
  background-color: red;
}

.buttonContainerInArchibe button:first-child {
  background-color: #008cba;
}

.reject-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 2px solid black;
  padding: 12px 0;
  justify-content: center;
  gap: 24px;
}

.reject-heading h2 {
  text-align: left;
}

#delete-arch main {
  display: flex;
  flex-direction: column;
}

#delete-arch main>div {
  display: flex;
  justify-content: center;
  gap: 24px;
}

#delete-arch main>div button {
  padding: 12px 100px;
}