.requestForm {
  padding: 0 15%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.requestForm>button {
  width: fit-content;
  align-self: center;
  padding: 12px 80px;
}

.requestForm>button {
  margin-top: 20px;
}

.formInputContainer {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.formInputContainer>div {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-bar {
  width: 0;
  outline: none;
  transition: width 0.3s ease;
  overflow: hidden;
  white-space: nowrap;
  opacity: 0;
}

.search-bar.open {
  width: 250px;
  opacity: 1;
}

.search-icon {
  font-size: 24px;
  cursor: pointer;
  margin-left: 10px;
  color: #555;
}

.search-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

#results {
  position: absolute;
  background-color: white;
  border: 1px solid #000;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 200px;
  overflow-y: auto;
  gap: 0;
  z-index: 2;
}

#results>div {
  padding: 4px;
  border-bottom: 1px solid #000;
}

#results>div:last-child {
  border-bottom: none;
}

#results>div:hover {
  background-color: #33A90F;
  color: white;
  cursor: pointer;
}
