* {
    margin: 0;
}

body,
html {
    font-family: sans-serif;
}

.id-container {
    background: url('../../images/background.png');
    background-size: cover;
    height: 451px;
    width: 298px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #EFFAEC;
    border: 1px solid #000;
}

.id-container #address {
    overflow-wrap: break-word;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.first-layout {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.first-layout p {
    font-size: 11px;
    text-align: center;
}

.first-layout img {
    height: 45px;
    width: 45px;
}

.sub-head {
    text-align: center;
    margin-top: 11px;
}

.sub-head h2 {
    font-size: 20px;
}

.id-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
}

.id-img img {
    height: 110px;
    width: 110px;
    border: 1px solid black;
    object-fit: cover;
}

.id-img p {
    font-size: 9px;
    margin-top: 5px;
}

.id-img h2 {
    font-size: 18px;
    margin-top: 5px;
}

.perso-info {
    font-size: 11px !important;
    text-align: center;
    margin-bottom: 8px;
    margin-top: 5px;
}

.personal-info {
    width: auto;
    padding: 0 31px;
    margin-top: 5px;

}

.personal-info p {
    font-size: 10px;
    padding: 4px 0;
}

.signature-container {
    text-align: center;
    margin-top: 33px;
    padding: 0 86px;
}

.signature-container hr {
    border: 0;
    border-top: 1px solid black;
}

.signature-container span {
    font-size: 9px;
    font-style: italic;
}

.id-back {
    /* Set the height to the image height */
    position: relative;
    height: 451px;
    width: 298px;
    background-image: url('../../images/bottom.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: #EFFAEC;
    border: 1px solid #000;
}

.lgu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 34px;
}

.lgu h2 {
    font-size: 20px;
}

.lgu p {
    margin-top: 13px;
    font-size: 12px;
    padding: 0 20px;
}

.qr-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 11px;
}

.qr-img img {
    width: 110px;
    height: 110px;
}

.qr-imager p::before {
    content: "•";
    margin-right: 10px;
    /* Bullet symbol */
}

.qr-imager {
    font-size: 11px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}

.notify h2 {
    font-size: 11px;
}

.notify {
    text-align: center;
    margin-top: 11px;
    margin-bottom: 8px;
}

.values {
    text-decoration: underline;
}

.signature-containers {
    margin-top: 30px;
    text-align: center;
    color: white;
}

.signature-containers .name {
    font-size: 11px;
    font-weight: bold;
}

.signature-containers .position {
    margin-top: -5px;
    font-size: 9px;
    font-style: italic;
}

.Civil-stat,
.values,
.value {
    font-weight: 550;
}