/* Base styles for all devices */
.officialsMain {
    margin: 0;
}

body {
    overflow: scroll;
}

.pop-up{
    overflow: auto !important;
}

#add-official-button {
    display: flex;
    right: 50px;
    margin-top: 30px;
    position: absolute;
    z-index: 1;
}
.overlay{
    z-index: 2;
}

.exec {
    height: fit-content;
    position: absolute;
    width: 100vw;
    top: 190px;
    height: fit-content;
    background-image: url('../../images/brgy.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: auto;
    padding-top: 50px;
}

.exec>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 70px;
    width: -webkit-fill-available;
}

.headingOfficials {
    text-align: center;
    color: white;
    font-size: 28px;
}

.officialer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
}

.titleTo {
    font-size: calc(.5rem + .1vw);
}

.row {
    display: flex;
    align-items: center;
}

.row>div:first-child {
    margin-top: -24px;
    flex: 1;
}

.image-preview {
    height: 200px !important;
}

#fileInput1,
#fileInput2,
#fileInput3,
#fileInput4,
#fileInput5,
#fileInput6,
#fileInput7,
#fileInput8,
#fileInput9,
#fileInput10 {
    display: none;
}

#add-officials {
    width: 50%;
}

.officialMainContainer {
    position: fixed;
    width: 17vw;
    height: 42vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: linear-gradient(to bottom, #E6E6E6, #808080);
    overflow: hidden;
    border: 1px solid gray;
}

.officialMainContainer>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
}

.officialMainContainer>.backgroundImages {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.officialMainContainer>.backgroundImages >div {
   height: 100%;
}
.officialMainContainer>.backgroundImages >div:first-child img {
   height: 80%;
}
.officialMainContainer>.backgroundImages> div:last-child img {
   height: 25%;
}

.officialMainContainer>.backgroundImages>div:last-child {
    align-self: self-start;
    margin: 30px 30px 0 0;
}

.officialMainContainer>.description {
    display: flex;
    position: absolute;
    bottom: 0;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    align-items: center;
    min-height: 25%;
}

.officialMainContainer>.description img {
    width: 15%;
    margin-left: 10px;
}

.officialMainContainer>.description .title {
    text-align: center;
    flex: 1;
}

.officialMainContainer>.description .title>div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.officialMainContainer>.description .title h3 {
    font-size: calc(.9rem + .1vw);
}
