#add-resident .row,
#add-resident .row1 {
  display: flex;
  gap: 12px;
}

#add-resident .row {
  flex-wrap: wrap;
}

#add-resident form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#add-resident {
  width: 60%;
}

#add-resident form #submit_add_resident {
  width: fit-content;
  align-self: end;
  padding: 12px 80px;
}

.inputWithLabel {
  flex: 1;
}

.inputWithLabel>div {
  display: flex;
  gap: 12px;
}

.inputWithLabel>div>input {
  width: 100%;
}

.residentUploadImage {
  display: none;
}

.upload-image {
  height: 100%;
}

.upload-image>.upload-section {
  height: 85%;
  border: solid 1px gray;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: grid;
  place-items: center;
  cursor: pointer;
  padding: 12px;
}

.upload-section p {
  width: auto;
}

.upload-image img {
  /* width: 30%; */
  object-fit: contain;
  height: 100px;
}

.add-resident-input-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.ID-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.image-preview {
  width: 250px;
  height: 250px;
  background-color: #f3f3f3;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.image-preview img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.buttons {
  display: flex;
  gap: 10px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.button.capture {
  background-color: #33A90F;
}

.button.upload {
  background-color: #008cba;
}

#fileInput {
  display: none;
}

#emergencyContactAddress {
  overflow-wrap: break-word;
}