.tunga {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.container {
    padding: 40px;
}

#tunga {
    margin-bottom: 50px;
}

.separate {
    display: flex;
    gap: 40px;
}

.separate strong,
.separate li,
.separate p {
    font-weight: 400;
    font-size: 13px;
}

.separate h3 {
    font-size: 20px;
    text-wrap: nowrap;
}

#meow {
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    align-items: center;
    gap: 40px;
    margin-bottom: 80px;
    padding: 0 3%;
}

#meow>div {
    flex: 1;
}

.container h2 {
    margin-bottom: 20px;
    margin-left: 3%;
}


/* Details Sections */
.separate {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    padding: 30px 30px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    align-self: stretch;
    width: fit-content;
}

#totalsByPurokDetails {
    margin-bottom: 10px;
}

#overallPopulation {
    padding-bottom: 40px;
}

#overallPopulation1 p {
    font-size: 20px;
}

.barangayPopulationChart1 {
    height: 900px;
    width: 900px;
}

#classificationByPurokDetails {
    margin-bottom: 40px;
}

#totalsByPurokDetails li {
    display: inline;
    margin-right: 10px;
}

#totalsByPurokDetails {
    margin: 0;
}

#totalsByPurokDetails ul {

    margin: 10px;
}

.chart {
    width: 500px;
    height: 500px;
    display: grid;
    place-items: center;
}

.info {
    flex-grow: 1;
}

#residentStatusText p {
    margin-bottom: 20px;
}

#residentStatusText>div,
#ageDemographicsText>div {
    display: flex;
    gap: 12px;
    flex-direction: row;
}

#residentStatusText>div>table,
#ageDemographicsText>div>table {
    min-width: 50%;
}