.tunga {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.container {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


#tunga {
    margin-bottom: 50px;
}

.separate {
    display: flex;
    gap: 40px;
}

.separate strong,
.separate li,
.separate p {
    font-weight: 400;
    font-size: 13px;
}

.separate h3 {
    font-size: 20px;
    text-wrap: nowrap;
    margin-bottom: 12px;
}

#meow {
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    align-items: center;
    gap: 40px;
    padding: 0 3%;
    width: 100%;
}

#meow>div {
    /* flex: 1; */
    width: 50%;
}

.container h2, h1 {
    margin-bottom: 20px;
    width: 100%;
}


/* Details Sections */
.separate {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    padding: 30px 30px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    align-self: stretch;
    flex-direction: column;
    width: 100% !important;
    overflow: auto;
}

#totalsByPurokDetails {
    margin-bottom: 10px;
}

#overallPopulation {
    padding-bottom: 40px;
}

.barangayPopulationChart1 {
    height: 900px;
    width: 900px;
}

#classificationByPurokDetails {
    margin-bottom: 40px;
}

#totalsByPurokDetails li {
    display: inline;
    margin-right: 10px;
}

#totalsByPurokDetails {
    margin: 0;
}

#totalsByPurokDetails ul {

    margin: 10px;
}

#add-survey-button p{
    text-wrap: nowrap;
}

.chart {
    width: 500px;
    height: 500px;
    display: grid;
    place-items: center;
}

.info {
    flex-grow: 1;
}

#residentStatusText p {
    margin-bottom: 20px;
}

#residentStatusText>div,
#ageDemographicsText>div {
    display: flex;
    gap: 12px;
    flex-direction: row;
}

#residentStatusText>div>table,
#ageDemographicsText>div>table {
    min-width: 50%;
}

table>thead>tr>th {
    text-wrap: wrap;
}

.add-survey-input-container>.row {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 12px;
}

.oberall {
    width: 100%;
    justify-content: space-around;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;

}

.oberall h5 {
    font-weight: normal;
}

.oberall div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    background-color: #33A90F;
    border-radius: 10px;
    color: white;
    width: 150px;
    height: 130px;
    text-align: center;
    gap: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.05);
    ;
}

.statsMainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 3%;
}

.oberallContainer {
    display: flex;
    flex-direction: column;
}
.subContainer{
    display: flex;
    gap: 24px;
    width: 100%;
}
.subContainer > div{
   flex: 1;
}