<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global/general.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include("../includes/header.ejs") %>

</body>
<script>
    document.querySelector("header>nav>ul>li:nth-child(6)").classList.toggle("selected");
</script>

</html>