<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global/general.css">
    <link rel="stylesheet" href="../css/local/statistics.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include("../includes/header.ejs") %>

        <div class="container">
            <h2>Resident Classification</h2>
            <div id="meow">
                <div class="chart">
                    <canvas id="barangayPopulationChart1"></canvas>
                </div>
                <div class="separate">
                    <div>
                        <div id="classificationByPurokDetails"></div>
                        <div id="overallPopulation1"></div>
                    </div>
                    <div id="totalClassificationDetails"></div>
                </div>
            </div>

            <h2>Residents by Purok</h2>
            <div id="meow">
                <div class="chart">
                    <canvas id="barangayPopulationChart"></canvas>
                </div>
                <div class="separate">
                    <div id="totalsByPurokDetails"></div>
                    <div id="overallPopulation"></div>
                </div>
            </div>
            
            <h2>Resident Status</h2>
            <div id="meow">
                <div class="chart">
                    <canvas id="statusChart"></canvas>
                </div>
                <div class="separate">
                    <div id="residentStatusText"></div>
                </div>
            </div>

            <h2>Age Demographics</h2>
            <div id="meow">
                <div class="chart">
                    <canvas id="ageDemographicsChart"></canvas>
                </div>
                <div class="separate">
                    <div id="ageDemographicsText"></div>
                </div>
            </div>

        </div>

</body>
<script src="../../js/local/statistics/statistics-api.js"></script>
<script>
    document.querySelector("header>nav>ul>li:nth-child(6)").classList.toggle("selected");
</script>

</html>