<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global/general.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include("../includes/header.ejs") %>

    <div class="container">
        <div style="width: 300px !important; height: 300px; object-fit: contain;" >
            <h2>Resident Classification</h2>
            <canvas id="classificationChart" ></canvas>
        </div>
        <div style="width: 300px !important; height: 300px; object-fit: contain;" >

            <h2>Age Demographics</h2>
            <canvas id="ageDemographicsChart"></canvas>
        </div>
        
        <div style="width: 300px !important; height: 300px; object-fit: contain;" >

            <h2>Resident Status</h2>
            <canvas id="statusChart"></canvas>
        </div>
        <div style="width: 300px !important; height: 300px; object-fit: contain;" >

            <h2>Residents by Purok</h2>
            <canvas id="purokChart"></canvas>
        </div>
    </div>    

</body>
<script src="../../js/local/statistics/statistics-api.js"></script>
<script>
    document.querySelector("header>nav>ul>li:nth-child(6)").classList.toggle("selected");
</script>
</html>