<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/local/indigency.css">
    <link rel="stylesheet" href="../css/global/print-general.css">
    <link rel="stylesheet" href="../css/global/general.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <title>Document</title>
</head>
<body>
    <%- include("../includes/header.ejs") %>
    <main>
        <button onclick="printIndigency('indigency')">Print</button>
        <div class="A4" id="indigency">
            <%- include("../includes/print-header.ejs") %>
            <div  class="title"><h2>CERTIFICATE OF INDIFENCY</h2></div>
            <div class="context">
                <p class="wala"><strong>TO WHOM IT MAY CONCERN:</strong></p>
                <p> <strong>THIS IS TO CERTIFY</strong> that <strong> <u>RAPADA, LEONARD A.,</u></strong> female/male, single/married/widow/widower, a resident of Purok Ampalaya, Barangay Maypangdan, Borongan City, Province of Eastern Samar, belongs to the indigent family of this community.</p>
                <p>This certification is issued upon request of the herein interested party for <strong style="color: red;"> MEDICAL ASSISTANCE</strong> and for any legal intent it may serve it best.</p>
                <p>This certification is issued upon request of the herein interested party for whatever and for any legal intent it may serve it best.</p>
                <p>Given this <strong><u>9th</u></strong> day of <strong><u>JULY</u></strong> 20<strong><u>24</u></strong>, at Barangay Maypangdan, Borongan City, Eastern Samar.</p>
            </div>
            <div style="display: flex; justify-content: end; margin-right: 71px;">
                <div class="certified">
                    <p>Certified by:</p>
                    <div style="text-align: center;">
                        <p><strong>HON. IAN C. GONZALES</strong></p>
                        <em>Punong Barangay</em>
                    </div>
                </div>
            </div>
            <div class="seal">
                <p>Valid for 90 days from the date of issued.</p>
                <p>Not valid without seal.</p>
            </div>
            <div class="footer">
                <hr style="width: 80%;">
                <p>Brgy. Maypangdan, Borongan City, Eastern Samar</p>
                <a href="#">http://www/facebook.com/lgumaypangdan</a>
            </div>
        </div>

        <script>
            function printIndigency(IdPrint){
                // var certPrint = document.getElementById(IdPrint);
                // certPrint.style.display = 'block';
                window.print();
            }
        </script>
    </main>
</body>
</html>